In [57]:
import numpy as np
import pandas as pd
import datetime
import math

In [58]:
daily=pd.read_csv('dam_daily.csv')
daily.columns

Index(['year', 'month', 'day', 'volume', 'value', 'price_weight_av',
       'price_max', 'price_min', 'price_mean', 'price_morning_max',
       'price_evening_max', 'price_standard', 'off_price_mean',
       'standard_price_mean', 'morning_price_mean', 'evening_price_mean',
       'off_hour_count', 'standard_hour_count', 'morning_hour_count',
       'evening_hour_count', 'off_volume', 'standard_volume', 'morning_volume',
       'evening_volume'],
      dtype='object')

In [59]:
monthly=daily.groupby(['year','month']).mean().reset_index(['month','year'])
monthly=monthly.drop(['morning_volume','off_volume','standard_volume'],1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','morning_price_max','evening_price_max']]=daily.groupby(['year','month']).max().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','morning_price_min','evening_price_min']]=daily.groupby(['year','month']).min().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['off_price_stdev','morning_price_stdev','standard_price_stdev','evening_price_stdev']]=daily.groupby(['year','month']).std().reset_index(['month','year'])[['off_price_mean','morning_price_mean','standard_price_mean','evening_price_mean']]
monthly[['volume','value','morning_volume','evening_volume','standard_volume','off_volume']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['volume','value','morning_volume','evening_volume','standard_volume','off_volume']]

monthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]

monthly['off_power']=monthly['off_volume'] / monthly['off_hour_count']
monthly['morning_power']=monthly['morning_volume'] / monthly['morning_hour_count']
monthly['standard_power']=monthly['standard_volume'] / monthly['standard_hour_count']
monthly['evening_power']=monthly['evening_volume'] / monthly['evening_hour_count']

monthly

,year,month,day,volume_mean,value_mean,price_weight_mean,price_max,price_min,price_mean,price_morning_max,...,standard_volume,off_volume,off_hour_count,standard_hour_count,morning_hour_count,evening_hour_count,off_power,morning_power,standard_power,evening_power
0,2016,1,16.0,3877.909677,216538.697903,57.486909,104.036250,45.982500,81.784624,119.758387,...,14148.7,103877.5,364,302.0,19.0,59.0,285.377747,15.663158,46.850000,32.057627
1,2016,2,15.0,3915.110345,263339.799483,67.019849,111.843750,75.023333,91.385273,133.844483,...,31405.6,80348.6,245,395.0,12.0,44.0,327.953469,14.791667,79.507848,36.511364
2,2016,3,16.0,3004.254839,192831.319548,63.764714,101.464167,60.115833,88.099516,124.145484,...,23286.2,68386.2,278,426.0,14.0,26.0,245.993525,45.764286,54.662441,31.492308
3,2016,4,15.5,1934.450000,119384.364433,59.168072,114.641667,40.925417,85.320472,118.555333,...,15094.5,42693.7,252,430.0,7.0,31.0,169.419444,2.142857,35.103488,7.429032
4,2016,5,16.0,1714.970968,95755.502839,51.079876,104.820833,28.659583,78.638495,113.998710,...,7485.9,45201.6,355,339.0,14.0,36.0,127.328451,18.428571,22.082301,6.072222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2020,12,16.0,2765.732258,215368.490710,81.531884,127.069167,45.683750,87.973105,121.744516,...,20895.2,56545.1,426,217.0,57.0,44.0,132.734977,97.526316,96.291244,62.236364
60,2021,1,16.0,2506.932258,151566.968968,60.267025,88.205417,44.173333,63.961895,83.970000,...,16638.5,53567.0,498,150.0,60.0,36.0,107.564257,85.400000,110.923333,66.261111
61,2021,2,14.5,2225.446429,183252.046929,83.585698,136.436250,43.510417,84.913795,149.662143,...,22489.4,36637.8,382,251.0,19.0,20.0,95.910471,86.257895,89.599203,77.320000
62,2021,3,16.0,2799.748387,160399.166548,57.899868,78.673750,27.023333,61.029073,112.614839,...,31070.4,50069.3,394,280.0,41.0,29.0,127.079442,85.546341,110.965714,73.968966
63,2021,4,15.5,2716.390000,162245.425200,64.228906,102.215000,30.873750,80.093472,148.875667,...,26604.3,50809.7,383,255.0,38.0,44.0,132.662402,61.760526,104.330588,39.336364

In [65]:
monthly['evening_days']=daily.loc[daily['evening_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['day']
monthly['morning_days']=daily.loc[daily['morning_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['day']
monthly['days']=daily.groupby(['year','month']).count().reset_index(['month','year'])['day']
monthly

,year,month,day,volume_mean,value_mean,price_weight_mean,price_max,price_min,price_mean,price_morning_max,...,standard_hour_count,morning_hour_count,evening_hour_count,off_power,morning_power,standard_power,evening_power,evening_days,morning_days,days
0,2016,1,16.0,3877.909677,216538.697903,57.486909,104.036250,45.982500,81.784624,119.758387,...,302.0,19.0,59.0,285.377747,15.663158,46.850000,32.057627,20,14.0,31
1,2016,2,15.0,3915.110345,263339.799483,67.019849,111.843750,75.023333,91.385273,133.844483,...,395.0,12.0,44.0,327.953469,14.791667,79.507848,36.511364,12,9.0,29
2,2016,3,16.0,3004.254839,192831.319548,63.764714,101.464167,60.115833,88.099516,124.145484,...,426.0,14.0,26.0,245.993525,45.764286,54.662441,31.492308,10,6.0,31
3,2016,4,15.5,1934.450000,119384.364433,59.168072,114.641667,40.925417,85.320472,118.555333,...,430.0,7.0,31.0,169.419444,2.142857,35.103488,7.429032,13,5.0,30
4,2016,5,16.0,1714.970968,95755.502839,51.079876,104.820833,28.659583,78.638495,113.998710,...,339.0,14.0,36.0,127.328451,18.428571,22.082301,6.072222,13,8.0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2020,12,16.0,2765.732258,215368.490710,81.531884,127.069167,45.683750,87.973105,121.744516,...,217.0,57.0,44.0,132.734977,97.526316,96.291244,62.236364,22,NaN,31
60,2021,1,16.0,2506.932258,151566.968968,60.267025,88.205417,44.173333,63.961895,83.970000,...,150.0,60.0,36.0,107.564257,85.400000,110.923333,66.261111,20,NaN,31
61,2021,2,14.5,2225.446429,183252.046929,83.585698,136.436250,43.510417,84.913795,149.662143,...,251.0,19.0,20.0,95.910471,86.257895,89.599203,77.320000,18,NaN,28
62,2021,3,16.0,2799.748387,160399.166548,57.899868,78.673750,27.023333,61.029073,112.614839,...,280.0,41.0,29.0,127.079442,85.546341,110.965714,73.968966,23,NaN,31
63,2021,4,15.5,2716.390000,162245.425200,64.228906,102.215000,30.873750,80.093472,148.875667,...,255.0,38.0,44.0,132.662402,61.760526,104.330588,39.336364,21,NaN,30

In [64]:
monthly.to_csv('dam_monthly.csv')