In [1]:
import numpy as np
import pandas as pd
import datetime
import math

In [10]:
dam = pd.read_csv('dam.csv')
dam

       market        date  hour  price  volume
0           1  01/01/2016     0  40.10   477.5
1           1  01/01/2016     1  40.08   486.6
2           1  01/01/2016     2  40.06   495.6
3           1  01/01/2016     3  40.08   496.6
4           1  01/01/2016     4  40.07   502.9
...       ...         ...   ...    ...     ...
44587       1  29/01/2021    13  61.97   134.0
44588       1  29/01/2021    23  58.05    59.0
44589       1  30/01/2021    17  42.08    64.0
44590       1  31/01/2021     3  42.19   149.0
44591       1  31/01/2021    21  42.18    92.0

[44592 rows x 5 columns]

In [14]:
dam['date']=pd.to_datetime(dam['date'],format="%d/%m/%Y")#"%d/%m/%Y")
dam=dam.set_index(pd.DatetimeIndex(dam['date']))
dam['year']=dam.index.year
dam['month']=dam.index.month
dam['day']=dam.index.day
dam['day_of_week']=dam.index.dayofweek

In [15]:
dam

,market,date,hour,price,volume,year,month,day,day_of_week
date,,,,,,,,,
2016-01-01,1,2016-01-01,0,40.10,477.5,2016,1,1,4
2016-01-01,1,2016-01-01,1,40.08,486.6,2016,1,1,4
2016-01-01,1,2016-01-01,2,40.06,495.6,2016,1,1,4
2016-01-01,1,2016-01-01,3,40.08,496.6,2016,1,1,4
2016-01-01,1,2016-01-01,4,40.07,502.9,2016,1,1,4
...,...,...,...,...,...,...,...,...,...
2021-01-29,1,2021-01-29,13,61.97,134.0,2021,1,29,4
2021-01-29,1,2021-01-29,23,58.05,59.0,2021,1,29,4
2021-01-30,1,2021-01-30,17,42.08,64.0,2021,1,30,5
2021-01-31,1,2021-01-31,3,42.19,149.0,2021,1,31,6
2021-01-31,1,2021-01-31,21,42.18,92.0,2021,1,31,6