In [18]:
import numpy as np
import pandas as pd
import datetime
import math

In [19]:
daily=pd.read_csv('dam_daily.csv')
daily

,year,month,day,volume,value,price_weight_av,price_max,price_min,price_mean,off_price_mean,standard_price_mean,peak_price_mean,off_hour_count,standard_hour_count,peak_hour_count,off_volume,standard_volume,peak_volume
0,2016,1,1,7873.8,336882.508,42.785251,60.08,35.09,45.982500,45.982500,NaN,NaN,24,NaN,NaN,7873.8,NaN,NaN
1,2016,1,2,7319.5,345982.021,47.268532,118.49,40.03,54.114167,45.511333,68.452222,NaN,15,9.0,NaN,5994.5,1325.0,NaN
2,2016,1,3,7198.7,351712.733,48.857812,118.47,44.06,54.959167,48.152222,75.380000,NaN,18,6.0,NaN,6607.3,591.4,NaN
3,2016,1,4,4457.0,225938.810,50.693024,177.66,46.70,80.164583,47.992222,80.720833,174.456667,9,12.0,3.0,4028.0,429.0,0.0
4,2016,1,5,3750.4,179068.882,47.746609,181.40,42.06,84.503333,43.756667,97.805385,181.400000,9,13.0,2.0,3380.0,370.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,2021,4,26,2092.9,185605.239,88.683281,299.33,39.94,102.215000,42.868889,112.993077,299.215000,9,13.0,2.0,789.4,1209.4,94.1
1943,2021,4,27,2048.2,168261.497,82.150912,299.09,39.96,94.468333,42.197778,99.176154,299.085000,9,13.0,2.0,947.8,990.7,109.7
1944,2021,4,28,2130.2,177543.993,83.346161,299.10,39.90,100.343333,42.605556,109.740000,299.085000,9,13.0,2.0,1095.8,924.4,110.0
1945,2021,4,29,2134.0,178697.984,83.738512,296.82,39.79,98.742500,42.532222,107.186154,296.805000,9,13.0,2.0,1100.0,914.0,120.0
1946,2021,4,30,2198.9,187057.475,85.068659,295.98,38.97,98.218750,42.047778,106.682308,295.975000,9,13.0,2.0,912.7,1166.2,120.0

In [21]:
monthly=daily.groupby(['year','month']).mean().reset_index(['month','year'])
monthly=monthly.drop(['price_max','peak_volume','off_volume','standard_volume'],1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','peak_hour_count':'peak_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','peak_price_max']]=daily.groupby(['year','month']).max().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','peak_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','peak_price_min']]=daily.groupby(['year','month']).min().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','peak_price_mean']]

monthly[['volume','value','peak_volume','standard_volume','off_volume']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['volume','value','peak_volume','standard_volume','off_volume']]


monthly

,year,month,day,volume_mean,value_mean,price_weight_mean,price_min,price_mean,off_price_mean,standard_price_mean,...,off_price_max,peak_price_max,standard_price_min,off_price_min,peak_price_min,volume,value,peak_volume,standard_volume,off_volume
0,2016,1,16.0,3877.909677,216538.697903,57.486909,45.982500,81.784624,50.482142,101.298373,...,56.764583,181.400000,68.452222,43.144444,113.970000,120215.2,6712699.635,2125.0,14212.7,103877.5
1,2016,2,15.0,3915.110345,263339.799483,67.019849,75.023333,91.385273,51.665330,104.180657,...,53.410000,232.903333,86.090000,50.480000,110.696667,113538.2,7636854.185,5023.2,28166.4,80348.6
2,2016,3,16.0,3004.254839,192831.319548,63.764714,60.115833,88.099516,51.887979,99.799192,...,54.328235,177.150000,74.171429,50.518750,104.476667,93131.9,5977770.906,5247.8,19497.9,68386.2
3,2016,4,15.5,1934.450000,119384.364433,59.168072,40.925417,85.320472,45.608219,98.948397,...,58.804000,189.110000,55.706471,0.000000,114.978000,58033.5,3581530.933,1081.9,14257.9,42693.7
4,2016,5,16.0,1714.970968,95755.502839,51.079876,28.659583,78.638495,43.121126,99.793116,...,55.758125,206.280000,45.162000,24.316842,102.150000,53164.1,2968420.588,1019.5,6943.0,45201.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2020,12,16.0,2765.732258,215368.490710,81.531884,45.683750,87.973105,50.377869,115.224438,...,55.438421,295.236667,73.705714,45.683750,160.030000,85737.7,6676423.212,2738.4,26454.2,56545.1
60,2021,1,16.0,2506.932258,151566.968968,60.267025,44.173333,63.961895,50.870766,83.301745,...,57.581875,299.200000,60.162000,44.061818,95.782857,77714.9,4698576.038,3392.4,20755.5,53567.0
61,2021,2,14.5,2225.446429,183252.046929,83.585698,43.510417,84.913795,53.185476,116.729077,...,81.140000,299.550000,79.450000,43.510417,123.623846,62312.5,5131057.314,4133.2,21541.5,36637.8
62,2021,3,16.0,2799.748387,160399.166548,57.899868,27.023333,61.029073,41.411106,78.594666,...,59.808235,204.050000,44.221818,25.568000,133.610000,86792.2,4972374.163,2404.2,34318.7,50069.3
63,2021,4,15.5,2716.390000,162245.425200,64.228906,30.873750,80.093472,39.906879,104.643412,...,43.592222,299.776667,56.354286,30.873750,131.640000,81491.7,4867362.756,1730.8,28951.2,50809.7