In [25]:
import numpy as np
import pandas as pd
import datetime
import math

In [26]:
daily=pd.read_csv('dam_daily.csv')
daily
daily=daily.loc[daily['year']<2020]

In [27]:
monthly=pd.read_csv('dam_monthly.csv')
monthly
monthly=monthly.loc[monthly['year']<2020]

In [28]:
calmonthly=daily.groupby(['month']).mean().reset_index()
calmonthly=calmonthly.drop(['year','day','volume','standard_volume','off_volume','morning_volume','evening_volume'],1)
calmonthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)


calmonthly[['volume', 'off_volume','standard_volume', 'morning_volume', 'evening_volume']]=monthly.groupby(['month']).mean().reset_index()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]



calmonthly

,month,value_mean,price_weight_mean,price_mean,off_price_mean,standard_price_mean,morning_price_mean,evening_price_mean,off_hour_mean,standard_hour_mean,morning_hour_mean,evening_hour_mean,volume,off_volume,standard_volume,morning_volume,evening_volume
0,1,176247.386871,45.697920,57.221999,34.822396,73.323816,92.131961,109.648543,11.991935,10.371429,2.794521,2.305882,123101.400,90549.225,25278.350,4797.775,2476.050
1,2,181523.411257,49.200709,59.486600,33.613363,72.892055,91.719253,110.578992,10.433628,10.475248,2.808219,3.333333,104402.025,65943.600,28985.250,5104.550,4368.625
2,3,125160.020702,45.981253,53.784516,30.743440,67.265604,83.489047,109.392382,10.830645,10.666667,3.500000,2.337079,82042.875,46807.325,26522.475,6097.100,2615.975
3,4,148937.369633,47.656344,54.049646,29.462826,68.800535,88.385050,111.418231,11.091667,11.117647,3.432836,2.312500,91746.625,47178.650,32743.650,7897.750,3926.575
4,5,126091.177008,46.410801,57.759899,31.612788,75.061019,95.478382,118.659037,10.967742,10.368421,3.088608,2.111111,79180.275,48820.900,23279.575,4971.175,2108.625
5,6,218875.648000,59.502049,73.245413,38.805150,88.631705,127.437943,147.777810,11.050000,9.526786,3.223529,2.505882,106681.850,69918.200,25929.850,6946.250,3887.550
6,7,295672.940621,64.840143,78.327268,41.889831,94.247249,152.180353,164.281406,11.193548,10.230088,3.011765,2.022989,137076.525,87557.200,36673.200,8546.925,4299.200
7,8,324785.916855,62.354405,77.318417,38.887035,89.064413,153.667583,165.208636,10.604839,10.734513,2.931818,2.087912,160728.100,100173.825,45506.725,9793.650,5253.900
8,9,331004.432008,52.668850,63.920955,34.842991,77.265352,102.674383,137.224583,10.600000,10.917431,3.200000,1.928571,189102.875,112083.800,58859.550,12626.075,5533.450
9,10,356834.894653,49.281088,56.414946,32.763313,68.622320,85.259071,119.166517,11.193548,10.036036,3.529412,1.955056,228368.850,137799.775,69335.225,16507.700,4726.150
10,11,312455.311058,51.503972,61.048701,33.172743,73.149954,94.344139,141.592701,10.900000,10.252252,3.168675,1.965517,186471.600,112952.900,58635.125,10499.275,4384.300
11,12,236853.156927,50.939747,59.295780,34.105464,73.728714,77.135261,139.918935,11.395161,11.615385,3.803922,2.037975,147349.875,89889.750,48017.125,6817.975,2625.025

In [29]:
calmonthly.to_csv('dam_calmonthly.csv')

In [32]:
dam = pd.read_csv('dam.csv')
dam['date']=pd.to_datetime(dam['tradedate'],format="%Y/%m/%d")#"%d/%m/%Y")
dam=dam.set_index(pd.DatetimeIndex(dam['date']))
dam['year']=dam.index.year
dam['month']=dam.index.month
dam['day']=dam.index.day
dam['day_of_week']=dam.index.dayofweek
dam['month_no']=dam['year']+dam['month']/100
dam

,hourlyid,market,tradedate,hour,price,volume,date,year,month,day,day_of_week,month_no
date,,,,,,,,,,,,
2016-01-01,26345,1,2016-01-01,0,40.10,477.5,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26346,1,2016-01-01,1,40.08,486.6,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26347,1,2016-01-01,2,40.06,495.6,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26348,1,2016-01-01,3,40.08,496.6,2016-01-01,2016,1,1,4,2016.01
2016-01-01,26349,1,2016-01-01,4,40.07,502.9,2016-01-01,2016,1,1,4,2016.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-29,73029,1,2021-04-29,4,39.97,126.1,2021-04-29,2021,4,29,3,2021.04
2021-04-29,73037,1,2021-04-29,12,68.06,71.0,2021-04-29,2021,4,29,3,2021.04
2021-04-30,73049,1,2021-04-30,0,44.04,59.6,2021-04-30,2021,4,30,4,2021.04
2021-04-30,73057,1,2021-04-30,8,190.00,72.0,2021-04-30,2021,4,30,4,2021.04
2021-04-30,73066,1,2021-04-30,17,67.97,114.2,2021-04-30,2021,4,30,4,2021.04

In [34]:
calmonthly_hours=dam.groupby(['month','hour']).mean()
calmonthly=calmonthly.drop(['hourlyid','year','day','day_of'],1)
calmonthly_hours

                hourlyid  market       price      volume    year   day  \
month hour
1     0     48629.000000     1.0   38.930376  232.286559  2018.5  16.0
      1     48630.000000     1.0   37.985108  233.581183  2018.5  16.0
      2     48631.005376     1.0   37.604032  233.819892  2018.5  16.0
      3     48631.994624     1.0   37.503871  236.181183  2018.5  16.0
      4     48633.000000     1.0   37.673172  238.518280  2018.5  16.0
...                  ...     ...         ...         ...     ...   ...
12    19    52288.793548     1.0  130.661613   80.230968  2018.0  16.0
      20    52289.800000     1.0   89.013548  105.837419  2018.0  16.0
      21    52290.800000     1.0   73.281871  171.339355  2018.0  16.0
      22    52291.800000     1.0   39.710839  254.710968  2018.0  16.0
      23    52292.800000     1.0   37.374000  260.658710  2018.0  16.0

            day_of_week  month_no
month hour
1     0        3.005376   2018.51
      1        3.005376   2018.51
      2        3.005376   2018.51
      3        3.005376   2018.51
      4        3.005376   2018.51
...                 ...       ...
12    19       3.038710   2018.12
      20       3.038710   2018.12
      21       3.038710   2018.12
      22       3.038710   2018.12
      23       3.038710   2018.12

[288 rows x 8 columns]

In [1]:
calmonthly_hours.to_csv('dam_calmonthly_hours.csv')

NameError: name 'calmonthly_hours' is not defined