In [1]:
import numpy as np
import pandas as pd
import datetime
import math

In [4]:
daily=pd.read_csv('dam_daily.csv')
daily

,year,month,day,volume,value,price_weight_av,price_mean,off_price_mean,standard_price_mean,morning_price_mean,evening_price_mean,off_hour_count,standard_hour_count,morning_hour_count,evening_hour_count,off_volume,standard_volume,morning_volume,evening_volume
0,2016,1,1,7873.8,336882.508,42.785251,45.982500,45.982500,NaN,NaN,NaN,24,NaN,NaN,NaN,7873.8,NaN,NaN,NaN
1,2016,1,2,7319.5,345982.021,47.268532,54.114167,45.511333,68.452222,NaN,NaN,15,9.0,NaN,NaN,5994.5,1325.0,NaN,NaN
2,2016,1,3,7198.7,351712.733,48.857812,54.959167,48.152222,75.380000,NaN,NaN,18,6.0,NaN,NaN,6607.3,591.4,NaN,NaN
3,2016,1,4,4457.0,225938.810,50.693024,80.164583,47.992222,80.720833,NaN,174.456667,9,12.0,NaN,3.0,4028.0,429.0,NaN,0.0
4,2016,1,5,3750.4,179068.882,47.746609,84.503333,43.756667,93.589167,148.400,181.400000,9,12.0,1.0,2.0,3380.0,370.4,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,2021,4,26,2092.9,185605.239,88.683281,102.215000,42.868889,96.981818,201.055,299.215000,9,11.0,2.0,2.0,789.4,1065.1,144.3,94.1
1943,2021,4,27,2048.2,168261.497,82.150912,94.468333,42.197778,80.660000,201.015,299.085000,9,11.0,2.0,2.0,947.8,856.0,134.7,109.7
1944,2021,4,28,2130.2,177543.993,83.346161,100.343333,42.605556,95.224545,189.575,299.085000,9,11.0,2.0,2.0,1095.8,788.4,136.0,110.0
1945,2021,4,29,2134.0,178697.984,83.738512,98.742500,42.532222,92.590909,187.460,296.805000,9,11.0,2.0,2.0,1100.0,772.0,142.0,120.0
1946,2021,4,30,2198.9,187057.475,85.068659,98.218750,42.047778,92.895455,182.510,295.975000,9,11.0,2.0,2.0,912.7,1022.2,144.0,120.0

In [6]:
monthly=daily.groupby(['month']).mean().reset_index()
monthly=monthly.drop(['year','day','morning_volume','off_volume','standard_volume'],1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','morning_price_max','evening_price_max']]=daily.groupby(['year','month']).max().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','morning_price_min','evening_price_min']]=daily.groupby(['year','month']).min().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['off_price_stdev','morning_price_stdev','standard_price_stdev','evening_price_stdev']]=daily.groupby(['year','month']).std().reset_index(['month','year'])[['off_price_mean','morning_price_mean','standard_price_mean','evening_price_mean']]
monthly[['volume','value','morning_volume','evening_volume','standard_volume','off_volume']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['volume','value','morning_volume','evening_volume','standard_volume','off_volume']]

monthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]

monthly['off_power']=monthly['off_volume'] / monthly['off_hour_count']
monthly['morning_power']=monthly['morning_volume'] / monthly['morning_hour_count']
monthly['standard_power']=monthly['standard_volume'] / monthly['standard_hour_count']
monthly['evening_power']=monthly['evening_volume'] / monthly['evening_hour_count']

monthly

,month,volume_mean,value_mean,price_weight_mean,price_mean,off_price_mean,standard_price_mean,morning_price_mean,evening_price_mean,off_hour_mean,...,standard_volume,off_volume,off_hour_count,standard_hour_count,morning_hour_count,evening_hour_count,off_power,morning_power,standard_power,evening_power
0,1,3779.564516,188515.656559,51.307382,61.662619,39.047926,77.162916,93.439636,146.695895,12.462366,...,14040.7,103877.5,364,298.0,23.0,59.0,285.377747,17.634783,47.116443,32.057627
1,2,3245.352941,180714.753394,58.283468,66.546691,37.352730,83.318728,109.956435,151.372471,10.864706,...,25701.0,80348.6,245,277.0,58.0,116.0,327.953469,36.525862,92.783394,46.293966
2,3,2547.490860,134319.657704,52.925120,60.403463,33.517935,74.033754,102.864417,139.072751,10.924731,...,17821.8,68386.2,278,251.0,97.0,118.0,245.993525,32.402062,71.003187,32.041525
3,4,2972.367222,143215.070944,48.736070,56.171294,30.144856,70.886360,108.965479,142.904106,11.744444,...,13598.8,42693.7,252,329.0,66.0,73.0,169.419444,16.584848,41.333739,8.854795
4,5,2575.487742,120677.666413,44.804857,54.987417,30.041574,71.973964,92.402797,129.518803,11.329032,...,6354.3,45201.6,355,250.0,63.0,76.0,127.328451,13.836508,25.417200,9.690789
5,6,3550.046667,207998.318707,56.898367,68.167622,35.239179,83.441727,125.775428,158.610051,11.213333,...,11123.4,74653.4,302,264.0,72.0,82.0,247.196689,18.284722,42.134091,20.351220
6,7,4183.980645,265509.474961,61.085880,73.161328,37.688512,88.461952,152.405000,173.998839,11.258065,...,12908.4,72992.4,327,282.0,75.0,60.0,223.218349,37.557333,45.774468,17.943333
7,8,4774.095484,289150.351942,59.685851,72.426392,35.452575,84.357035,151.461275,177.686763,10.980645,...,31265.8,104276.4,263,355.0,64.0,62.0,396.488213,53.810938,88.072676,27.853226
8,9,5603.308667,290527.394813,51.639480,61.190831,32.808107,74.002122,96.943735,140.992909,10.733333,...,44457.9,119813.7,244,378.0,51.0,47.0,491.039754,60.103922,117.613492,27.902128
9,10,6437.385161,313402.970297,49.826151,56.892366,32.353594,68.184925,88.865274,133.559039,11.238710,...,46676.9,154829.3,334,312.0,54.0,44.0,463.560778,90.661111,149.605449,78.677273
10,11,5519.142000,299293.593080,59.661461,69.903408,35.255785,83.851432,115.293351,171.397670,11.153333,...,44224.9,143214.7,315,297.0,64.0,44.0,454.649841,93.960938,148.905387,125.468182
11,12,4355.723871,232556.223684,57.058175,65.031245,37.359945,80.195310,98.252534,162.565784,11.864516,...,23639.5,107332.7,402,267.0,39.0,36.0,266.996766,83.846154,88.537453,60.388889

In [7]:
monthly.to_csv('dam_calmonthly.csv')