## Parameters

In [53]:
input_data='./input_data/'
output_data='./output_data/'
cc_output_data='./output_data/CC/'

## Libraries

In [54]:
import numpy as np
import pandas as pd
import datetime

In [55]:
cc_case='WC1'

Load the worst case impact table. 

WC1 and WC2 are the two worst case impact predictions giving reduction in flow by month for 2070.
- *WC1*: Hamududu & Killingtviet 2016
- *WC2*: Harrison & Whittington, 2002

In [56]:
cc_cases=pd.read_csv(input_data + 'climate_change_worst_cases.csv').set_index('Month')
cc_cases

        WC1       WC2
Month
10    -0.16 -0.243920
11    -0.20 -0.296011
12    -0.17 -0.396367
1     -0.18 -0.326546
2     -0.16 -0.324661
3     -0.41 -0.395765
4     -0.29 -0.386358
5     -0.24 -0.362866
6     -0.24 -0.350233
7     -0.17 -0.335437
8     -0.17 -0.334548
9     -0.14 -0.293764

In [57]:
daily_flow=pd.read_csv(output_data + 'ngonye_daily.csv')[['Date','Flow']]
daily_flow

             Date        Flow
0      1924-10-01  111.407480
1      1924-10-02  111.407480
2      1924-10-03  111.407480
3      1924-10-04  111.407480
4      1924-10-05  111.407480
...           ...         ...
33963  2017-09-26  200.552607
33964  2017-09-27  200.552607
33965  2017-09-28  200.552607
33966  2017-09-29  200.552607
33967  2017-09-30  200.013130

[33968 rows x 2 columns]

In [58]:


daily_flow=daily_flow.set_index(pd.DatetimeIndex(daily_flow['Date']))


daily_flow['Month']=daily_flow.index.month
daily_flow['Year']=daily_flow.index.year
daily_flow=daily_flow.drop('Date',axis=1)
daily_flow.head(4)

                 Flow  Month  Year
Date
1924-10-01  111.40748     10  1924
1924-10-02  111.40748     10  1924
1924-10-03  111.40748     10  1924
1924-10-04  111.40748     10  1924

In [59]:
sims=pd.DataFrame(np.arange(1,61,1),columns=['SimNo'])
sims['StartDate']=pd.date_range(start=datetime.date(1933, 10, 1), periods=60, freq=pd.tseries.offsets.DateOffset(years=1))
sims=sims.set_index('SimNo')
sims.head(5)

       StartDate
SimNo
1     1933-10-01
2     1934-10-01
3     1935-10-01
4     1936-10-01
5     1937-10-01

Calculate the Climate Change Rate which is 0% in 1990 and rises to 100% in 2070. This sets the proportion of the overall climate change impact (by 2070) which is assumed to apply to any given date.

In [60]:
daily_flow['CC_Factor']=daily_flow.apply(lambda x: (0 if x['Year']<1991 else (x['Year']-1990)/80),axis=1)
daily_flow['Impact_2070']=daily_flow.join(cc_cases,on='Month')[cc_case]
daily_flow['Flow_Adjustment']=(1+daily_flow['CC_Factor']*(-daily_flow['Impact_2070']))
daily_flow['Flow_Adjusted']=daily_flow['Flow']*daily_flow['Flow_Adjustment']
daily_flow

,Flow,Month,Year,CC_Factor,Impact_2070,Flow_Adjustment,Flow_Adjusted
Date,,,,,,,
1924-10-01,111.407480,10,1924,0.0000,-0.16,1.00000,111.407480
1924-10-02,111.407480,10,1924,0.0000,-0.16,1.00000,111.407480
1924-10-03,111.407480,10,1924,0.0000,-0.16,1.00000,111.407480
1924-10-04,111.407480,10,1924,0.0000,-0.16,1.00000,111.407480
1924-10-05,111.407480,10,1924,0.0000,-0.16,1.00000,111.407480
...,...,...,...,...,...,...,...
2017-09-26,200.552607,9,2017,0.3375,-0.14,1.04725,210.028718
2017-09-27,200.552607,9,2017,0.3375,-0.14,1.04725,210.028718
2017-09-28,200.552607,9,2017,0.3375,-0.14,1.04725,210.028718
2017-09-29,200.552607,9,2017,0.3375,-0.14,1.04725,210.028718
2017-09-30,200.013130,9,2017,0.3375,-0.14,1.04725,209.463750

In [61]:
tmp=daily_flow.reset_index().head(4018)[['Date','Flow','Flow_Adjusted']].copy()
tmp['Date']=pd.date_range(start=datetime.date(2017, 10, 1), periods=4018, freq='D')
tmp=tmp.set_index('Date')

tmp

                  Flow  Flow_Adjusted
Date
2017-10-01  111.407480     111.407480
2017-10-02  111.407480     111.407480
2017-10-03  111.407480     111.407480
2017-10-04  111.407480     111.407480
2017-10-05  111.407480     111.407480
...                ...            ...
2028-09-26  258.797652     258.797652
2028-09-27  258.797652     258.797652
2028-09-28  256.682789     256.682789
2028-09-29  256.682789     256.682789
2028-09-30  256.682789     256.682789

[4018 rows x 2 columns]

In [62]:
daily=daily_flow.append(tmp)
daily=daily.drop(['CC_Factor','Impact_2070','Flow_Adjustment'],axis=1)
daily

                  Flow  Month    Year  Flow_Adjusted
Date
1924-10-01  111.407480   10.0  1924.0     111.407480
1924-10-02  111.407480   10.0  1924.0     111.407480
1924-10-03  111.407480   10.0  1924.0     111.407480
1924-10-04  111.407480   10.0  1924.0     111.407480
1924-10-05  111.407480   10.0  1924.0     111.407480
...                ...    ...     ...            ...
2028-09-26  258.797652    NaN     NaN     258.797652
2028-09-27  258.797652    NaN     NaN     258.797652
2028-09-28  256.682789    NaN     NaN     256.682789
2028-09-29  256.682789    NaN     NaN     256.682789
2028-09-30  256.682789    NaN     NaN     256.682789

[37986 rows x 4 columns]

In [63]:
future=pd.DataFrame(index=pd.date_range(start='10/1/2017', end='09/30/2053', freq='D').rename('Date'))
future['Year']=future.index.year
future['Day']=future.index.day
future['Month']=future.index.month
future['WaterYear']=future.apply((lambda x: (x['Year'] if x['Month']>=10 else x['Year']-1)),axis=1)
future['WaterMonth']=future.apply((lambda x: (x['Month']-9 if x['Month']>=10 else x['Month']+3)),axis=1)
future=future.astype({'WaterYear': 'int64'})
future=future.astype({'WaterMonth': 'int64'})
future['DateVal']=future.index
future['MonthId']=future['Year']+future['Month']/100
future['WaterDay']=future.apply(lambda x: (x['DateVal']-pd.Timestamp(x['WaterYear'], 10, 1)).days+1,axis=1)
future['WaterWeek']=np.floor((future['WaterDay']-1)/7)+1
future=future.drop('DateVal',axis=1)


future['CC_Factor']=future.apply(lambda x: (0 if x['Year']<1991 else (x['Year']-1990)/80),axis=1)
future

,Year,Day,Month,WaterYear,WaterMonth,MonthId,WaterDay,WaterWeek,CC_Factor
Date,,,,,,,,,
2017-10-01,2017,1,10,2017,1,2017.10,1,1.0,0.3375
2017-10-02,2017,2,10,2017,1,2017.10,2,1.0,0.3375
2017-10-03,2017,3,10,2017,1,2017.10,3,1.0,0.3375
2017-10-04,2017,4,10,2017,1,2017.10,4,1.0,0.3375
2017-10-05,2017,5,10,2017,1,2017.10,5,1.0,0.3375
...,...,...,...,...,...,...,...,...,...
2053-09-26,2053,26,9,2052,12,2053.09,361,52.0,0.7875
2053-09-27,2053,27,9,2052,12,2053.09,362,52.0,0.7875
2053-09-28,2053,28,9,2052,12,2053.09,363,52.0,0.7875
2053-09-29,2053,29,9,2052,12,2053.09,364,52.0,0.7875
2053-09-30,2053,30,9,2052,12,2053.09,365,53.0,0.7875

In [64]:

def calc_flows(sim_no):
    start_date=sims.loc[sim_no]['StartDate']

    fut=future.copy()
    
    fut['SampleDate']=pd.date_range(start=start_date, periods=13149, freq='D')
    fut['SampleFlow']=fut.join(daily,on='SampleDate',rsuffix='_daily')['Flow_Adjusted']
    fut['Impact_2070']=fut.join(cc_cases,on='Month')[cc_case]
    fut['Flow']=fut['SampleFlow']*(1+fut['Impact_2070']*fut['CC_Factor'])
 
    fut.to_csv(cc_output_data + 'ngonye_daily_' + cc_case + '_' + str(sim_no) + '.csv')

    sims.at[sim.Index,'Mean_2023_2040']=fut.loc[(fut.index>=datetime.datetime(2023, 10, 1)) & (fut.index<=datetime.datetime(2041, 9, 30))]['Flow'].mean()
    sims.at[sim.Index,'Mean_2023_2052']=fut.loc[(fut.index>=datetime.datetime(2023, 10, 1)) & (fut.index<=datetime.datetime(2053, 9, 30))]['Flow'].mean()

In [65]:
for sim in sims.itertuples():
    calc_flows(sim.Index)
    
sims

       StartDate  Mean_2023_2040  Mean_2023_2052
SimNo
1     1933-10-01      995.262002     1084.154116
2     1934-10-01     1040.548914     1089.245482
3     1935-10-01     1048.353237     1093.802597
4     1936-10-01     1072.257487     1099.729232
5     1937-10-01     1111.183712     1099.807323
6     1938-10-01     1149.005757     1106.214549
7     1939-10-01     1201.152690     1123.231114
8     1940-10-01     1219.226197     1148.152731
9     1941-10-01     1207.718294     1146.320230
10    1942-10-01     1184.384215     1150.436620
11    1943-10-01     1211.885674     1180.620465
12    1944-10-01     1234.936632     1179.527879
13    1945-10-01     1277.171907     1178.685895
14    1946-10-01     1274.554758     1152.098809
15    1947-10-01     1256.354703     1129.229439
16    1948-10-01     1243.167002     1118.025749
17    1949-10-01     1211.492917     1103.720360
18    1950-10-01     1180.731803     1075.769333
19    1951-10-01     1184.983062     1056.891289
20    1952-10-01     1145.789646     1012.233456
21    1953-10-01     1148.370388     1018.368290
22    1954-10-01     1183.748023     1003.103204
23    1955-10-01     1184.100220      983.601988
24    1956-10-01     1164.186732      949.070228
25    1957-10-01     1118.399344      913.919651
26    1958-10-01     1099.607788      902.349770
27    1959-10-01     1084.368048      888.180797
28    1960-10-01     1058.988297      865.431228
29    1961-10-01     1048.433469      854.502088
30    1962-10-01      995.502096      831.997170
31    1963-10-01      930.994736      800.633516
32    1964-10-01      894.342913      781.369060
33    1965-10-01      905.573075      785.473131
34    1966-10-01      895.003424      787.084823
35    1967-10-01      904.946320      802.480911
36    1968-10-01      875.416403      808.331388
37    1969-10-01      840.786544      781.834151
38    1970-10-01      793.627450      765.383949
39    1971-10-01      759.628483      775.077116
40    1972-10-01      686.267641      758.566189
41    1973-10-01      641.471346      758.999973
42    1974-10-01      630.212689      769.993297
43    1975-10-01      625.472576      786.232958
44    1976-10-01      639.382753      805.982416
45    1977-10-01      669.476811      828.929101
46    1978-10-01      677.975790      851.049348
47    1979-10-01      696.185739      852.745969
48    1980-10-01      724.835030      862.531376
49    1981-10-01      718.956790      873.146307
50    1982-10-01      729.965900      879.671599
51    1983-10-01      738.110000      872.847563
52    1984-10-01      777.978157      886.398876
53    1985-10-01      815.784284      889.465140
54    1986-10-01      877.348091      893.689146
55    1987-10-01      920.083948      890.475000
56    1988-10-01      954.948004      901.729194
57    1989-10-01     1004.335470      920.830888
58    1990-10-01     1056.914581      929.080373
59    1991-10-01     1068.253732      947.649189
60    1992-10-01     1067.736556      943.032547

In [66]:
sims.to_csv(cc_output_data + 'climate_change_sims_' + cc_case + '.csv')