In [1]:
import numpy as np
import pandas as pd

In [2]:
output_data='./output_data/CC/'

In [40]:
cc_case='WC1'

In [41]:
sims=pd.read_csv(output_data+'climate_change_sims_' + cc_case + '.csv').set_index('SimNo')
sims.head(3)

,StartDate,Mean_2023_2040,Mean_2023_2052,Energy_mean,Energy_median,Energy_mean_2023_2040,Energy_mean_2023_2052,Energy_mean_2025_2042,Energy_mean_2025_2049
SimNo,,,,,,,,,
1,1933-10-01,995.262002,1084.154116,817.180824,817.180824,801.998550,819.456187,796.60105,814.664174
2,1934-10-01,1040.548914,1089.245482,823.753350,823.753350,796.560298,823.646893,802.34879,820.292843
3,1935-10-01,1048.353237,1093.802597,827.073357,827.073357,799.809880,827.241241,806.77566,825.837659

In [42]:
for sim in sims.itertuples():
    yearly=pd.read_csv(output_data+'ngonye_daily_' + cc_case + '_' + str(sim.Index) + '_base_pe_yearly.csv')
    sims.at[sim.Index,'Energy_mean']=yearly['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_median']=yearly['Energy'].median()/1000
    sims.at[sim.Index,'Energy_mean_2023_2040']=yearly.loc[(yearly['WaterYear']>=2023) & (yearly['WaterYear']<=2040)]['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_mean_2023_2052']=yearly.loc[(yearly['WaterYear']>=2023) & (yearly['WaterYear']<=2052)]['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_mean_2025_2042']=yearly.loc[(yearly['WaterYear']>=2025) & (yearly['WaterYear']<=2042)]['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_mean_2025_2049']=yearly.loc[(yearly['WaterYear']>=2025) & (yearly['WaterYear']<=2049)]['Energy'].mean()/1000

In [43]:
yearly.loc[(yearly['WaterYear']>=2023) & (yearly['WaterYear']<=2040)]['Energy'].mean()/1000

815.111314033702

In [44]:
sims.head(5)

,StartDate,Mean_2023_2040,Mean_2023_2052,Energy_mean,Energy_median,Energy_mean_2023_2040,Energy_mean_2023_2052,Energy_mean_2025_2042,Energy_mean_2025_2049
SimNo,,,,,,,,,
1,1933-10-01,995.262002,1084.154116,817.180824,820.710677,801.998550,819.456187,796.601050,814.664174
2,1934-10-01,1040.548914,1089.245482,823.753350,826.095232,796.560298,823.646893,802.348790,820.292843
3,1935-10-01,1048.353237,1093.802597,827.073357,828.819208,799.809880,827.241241,806.775660,825.837659
4,1936-10-01,1072.257487,1099.729232,829.671298,831.442447,805.623021,831.956533,811.775048,826.712861
5,1937-10-01,1111.183712,1099.807323,823.988234,826.472203,807.794164,827.308944,816.807130,831.972220

In [45]:
sims.to_csv(output_data+'climate_change_sims_' + cc_case + '.csv')