## Parameters

In [42]:
input_data='./input_data/'
output_data='./output_data/'

## Libraries

In [43]:
import numpy as np
import pandas as pd
import datetime

In [44]:
cc_case='WC1'

Load the worst case impact table. 

WC1 and WC2 are the two worst case impact predictions giving reduction in flow by month for 2070.
- *WC1*: Hamududu & Killingtviet 2016
- *WC2*: Harrison & Whittington, 2002

In [45]:
cc_cases=pd.read_csv(input_data + 'climate_change_worst_cases.csv').set_index('Month')
cc_cases

        WC1       WC2
Month
10    -0.16 -0.243920
11    -0.20 -0.296011
12    -0.17 -0.396367
1     -0.18 -0.326546
2     -0.16 -0.324661
3     -0.41 -0.395765
4     -0.29 -0.386358
5     -0.24 -0.362866
6     -0.24 -0.350233
7     -0.17 -0.335437
8     -0.17 -0.334548
9     -0.14 -0.293764

In [46]:
daily_flow=pd.read_csv(input_data + 'ngonye_flow_mmlv2.csv') #output_data + 'ngonye_flow_daily.csv')

daily_flow=daily_flow.set_index(pd.DatetimeIndex(daily_flow['Date']))
if 'LaggedDate' in daily_flow.columns:
    daily_flow=daily_flow.drop(['LaggedDate','VicFalls','Conversion','Flow_difference','Volume','MonthId','Date','WaterMonth','WaterDay','WaterWeek','Exceedance'],axis=1)
else:
    daily_flow=daily_flow.drop(['Date'],axis=1)
    
    daily_flow['Day']=daily_flow.index.day
    daily_flow['Month']=daily_flow.index.month
    daily_flow['Year']=daily_flow.index.year
daily_flow.head(4)

                Flow  Day  Month  Year
Date
1924-10-01  111.4075    1     10  1924
1924-10-02  111.4075    2     10  1924
1924-10-03  111.4075    3     10  1924
1924-10-04  111.4075    4     10  1924

In [47]:
sims=pd.DataFrame(np.arange(1,61,1),columns=['SimNo'])
sims['StartDate']=pd.date_range(start=datetime.date(1933, 10, 1), periods=60, freq=pd.tseries.offsets.DateOffset(years=1))
sims=sims.set_index('SimNo')
sims

       StartDate
SimNo
1     1933-10-01
2     1934-10-01
3     1935-10-01
4     1936-10-01
5     1937-10-01
6     1938-10-01
7     1939-10-01
8     1940-10-01
9     1941-10-01
10    1942-10-01
11    1943-10-01
12    1944-10-01
13    1945-10-01
14    1946-10-01
15    1947-10-01
16    1948-10-01
17    1949-10-01
18    1950-10-01
19    1951-10-01
20    1952-10-01
21    1953-10-01
22    1954-10-01
23    1955-10-01
24    1956-10-01
25    1957-10-01
26    1958-10-01
27    1959-10-01
28    1960-10-01
29    1961-10-01
30    1962-10-01
31    1963-10-01
32    1964-10-01
33    1965-10-01
34    1966-10-01
35    1967-10-01
36    1968-10-01
37    1969-10-01
38    1970-10-01
39    1971-10-01
40    1972-10-01
41    1973-10-01
42    1974-10-01
43    1975-10-01
44    1976-10-01
45    1977-10-01
46    1978-10-01
47    1979-10-01
48    1980-10-01
49    1981-10-01
50    1982-10-01
51    1983-10-01
52    1984-10-01
53    1985-10-01
54    1986-10-01
55    1987-10-01
56    1988-10-01
57    1989-10-01
58    1990-10-01
59    1991-10-01
60    1992-10-01

Calculate the Climate Change Rate which is 0% in 1990 and rises to 100% in 2070. This sets the proportion of the overall climate change impact (by 2070) which is assumed to apply to any given date.

In [48]:
daily_flow['CC_Factor']=daily_flow.apply(lambda x: (0 if x['Year']<1991 else (x['Year']-1990)/80),axis=1)
daily_flow['Impact_2070']=daily_flow.join(cc_cases,on='Month')[cc_case]
daily_flow['Flow_Adjustment']=(1+daily_flow['CC_Factor']*(-daily_flow['Impact_2070']))
daily_flow['Flow_Adjusted']=daily_flow['Flow']*daily_flow['Flow_Adjustment']
daily_flow

,Flow,Day,Month,Year,CC_Factor,Impact_2070,Flow_Adjustment,Flow_Adjusted
Date,,,,,,,,
1924-10-01,111.4075,1,10,1924,0.0000,-0.16,1.00000,111.407500
1924-10-02,111.4075,2,10,1924,0.0000,-0.16,1.00000,111.407500
1924-10-03,111.4075,3,10,1924,0.0000,-0.16,1.00000,111.407500
1924-10-04,111.4075,4,10,1924,0.0000,-0.16,1.00000,111.407500
1924-10-05,111.4075,5,10,1924,0.0000,-0.16,1.00000,111.407500
...,...,...,...,...,...,...,...,...
2017-09-26,200.6671,26,9,2017,0.3375,-0.14,1.04725,210.148620
2017-09-27,200.6671,27,9,2017,0.3375,-0.14,1.04725,210.148620
2017-09-28,200.6671,28,9,2017,0.3375,-0.14,1.04725,210.148620
2017-09-29,200.6671,29,9,2017,0.3375,-0.14,1.04725,210.148620
2017-09-30,200.0131,30,9,2017,0.3375,-0.14,1.04725,209.463719

In [50]:
tmp=daily_flow.reset_index().head(4018)[['Date','Flow','Flow_Adjusted']].copy()
tmp['Date']=pd.date_range(start=datetime.date(2017, 10, 1), periods=4018, freq='D')
tmp=tmp.set_index('Date')
tmp['Day']=tmp.index.day
tmp['Month']=tmp.index.month
tmp['Year']=tmp.index.year
tmp['WaterYear']=tmp.apply((lambda x: (x['Year'] if x['Month']>=10 else x['Year']-1)),axis=1)
tmp

                Flow  Flow_Adjusted  Day  Month  Year  WaterYear
Date
2017-10-01  111.4075       111.4075    1     10  2017     2017.0
2017-10-02  111.4075       111.4075    2     10  2017     2017.0
2017-10-03  111.4075       111.4075    3     10  2017     2017.0
2017-10-04  111.4075       111.4075    4     10  2017     2017.0
2017-10-05  111.4075       111.4075    5     10  2017     2017.0
...              ...            ...  ...    ...   ...        ...
2028-09-26  258.7976       258.7976   26      9  2028     2027.0
2028-09-27  258.7976       258.7976   27      9  2028     2027.0
2028-09-28  256.6828       256.6828   28      9  2028     2027.0
2028-09-29  256.6828       256.6828   29      9  2028     2027.0
2028-09-30  256.6828       256.6828   30      9  2028     2027.0

[4018 rows x 6 columns]

In [51]:
daily=daily_flow.append(tmp)
daily=daily.drop(['CC_Factor','Impact_2070','Flow_Adjustment'],axis=1)
daily

                Flow  Day  Month  Year  Flow_Adjusted  WaterYear
Date
1924-10-01  111.4075    1     10  1924       111.4075        NaN
1924-10-02  111.4075    2     10  1924       111.4075        NaN
1924-10-03  111.4075    3     10  1924       111.4075        NaN
1924-10-04  111.4075    4     10  1924       111.4075        NaN
1924-10-05  111.4075    5     10  1924       111.4075        NaN
...              ...  ...    ...   ...            ...        ...
2028-09-26  258.7976   26      9  2028       258.7976     2027.0
2028-09-27  258.7976   27      9  2028       258.7976     2027.0
2028-09-28  256.6828   28      9  2028       256.6828     2027.0
2028-09-29  256.6828   29      9  2028       256.6828     2027.0
2028-09-30  256.6828   30      9  2028       256.6828     2027.0

[37986 rows x 6 columns]

In [52]:
future=pd.DataFrame(index=pd.date_range(start='10/1/2017', end='09/30/2053', freq='D'))
future['Year']=future.index.year
future['Month']=future.index.month
future['CC_Factor']=future.apply(lambda x: (0 if x['Year']<1991 else (x['Year']-1990)/80),axis=1)
future

            Year  Month  CC_Factor
2017-10-01  2017     10     0.3375
2017-10-02  2017     10     0.3375
2017-10-03  2017     10     0.3375
2017-10-04  2017     10     0.3375
2017-10-05  2017     10     0.3375
...          ...    ...        ...
2053-09-26  2053      9     0.7875
2053-09-27  2053      9     0.7875
2053-09-28  2053      9     0.7875
2053-09-29  2053      9     0.7875
2053-09-30  2053      9     0.7875

[13149 rows x 3 columns]

In [53]:

def calc_flows(sim_no):
    start_date=sims.loc[sim_no]['StartDate']

    future['SampleDate']=pd.date_range(start=start_date, periods=13149, freq='D')
    future['SampleFlow']=future.join(daily,on='SampleDate',rsuffix='_daily')['Flow_Adjusted']
    future['Impact_2070']=future.join(cc_cases,on='Month')[cc_case]
    future['Flow' + str(sim_no)]=future['SampleFlow']*(1+future['Impact_2070']*future['CC_Factor'])

In [54]:
for sim in sims.itertuples():
    calc_flows(sim.Index)
    
future

,Year,Month,CC_Factor,SampleDate,SampleFlow,Impact_2070,Flow1,Flow2,Flow3,Flow4,...,Flow51,Flow52,Flow53,Flow54,Flow55,Flow56,Flow57,Flow58,Flow59,Flow60
2017-10-01,2017,10,0.3375,1992-10-01,175.743975,-0.16,178.529025,222.090433,242.821929,197.973677,...,208.621853,200.600624,214.147912,244.822530,226.700670,232.900943,258.981122,212.538861,188.718283,166.253801
2017-10-02,2017,10,0.3375,1992-10-02,171.822552,-0.16,178.529025,218.932307,242.821929,195.440384,...,208.621853,200.600624,214.147912,242.821929,226.700670,232.900943,258.981122,211.459853,188.718283,162.544134
2017-10-03,2017,10,0.3375,1992-10-03,171.822552,-0.16,178.529025,214.147912,236.310138,195.440384,...,208.621853,197.973677,212.538861,232.900943,226.700670,232.900943,256.623785,208.210059,188.718283,162.544134
2017-10-04,2017,10,0.3375,1992-10-04,171.822552,-0.16,175.746650,212.538861,232.900943,195.440384,...,203.156527,197.973677,212.538861,232.900943,226.700670,230.142596,256.623785,208.621853,188.718283,162.544134
2017-10-05,2017,10,0.3375,1992-10-05,171.822552,-0.16,175.746650,210.279529,226.700670,195.440384,...,203.156527,197.973677,210.279529,230.142596,226.700670,230.142596,256.623785,208.621853,188.718283,162.544134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053-09-26,2053,9,0.7875,2028-09-26,258.797600,-0.14,387.483367,303.044668,295.051332,266.195583,...,191.076660,173.319385,232.565435,178.170658,237.372844,237.372844,237.372844,171.628593,219.052446,230.265165
2053-09-27,2053,9,0.7875,2028-09-27,258.797600,-0.14,383.444703,303.044668,292.910772,266.195583,...,186.201986,171.628593,230.265165,173.686051,237.372844,228.383521,230.265165,171.966164,213.220847,230.265165
2053-09-28,2053,9,0.7875,2028-09-28,256.682800,-0.14,383.444703,301.021199,289.756697,268.975696,...,183.819325,171.966164,230.265165,173.686051,237.372844,222.258927,230.265165,168.375934,210.153878,228.383521
2053-09-29,2053,9,0.7875,2028-09-29,256.682800,-0.14,379.596534,301.021199,287.946678,268.975696,...,178.991096,171.966164,228.383521,173.686051,232.565435,222.258927,228.383521,168.375934,210.153878,228.383521
2053-09-30,2053,9,0.7875,2028-09-30,256.682800,-0.14,379.596534,298.486924,287.946678,266.195583,...,178.991096,170.137461,228.383521,173.686051,230.265165,222.258927,228.383521,167.913531,210.153878,228.383521

In [73]:

for sim in sims.itertuples():
    sims.at[sim.Index,'Mean_2023_2040']=future.loc[(future.index>=datetime.datetime(2023, 10, 1)) & (future.index<=datetime.datetime(2041, 9, 30))]['Flow' + str(sim.Index)].mean()
    sims.at[sim.Index,'Mean_2023_2052']=future.loc[(future.index>=datetime.datetime(2023, 10, 1)) & (future.index<=datetime.datetime(2053, 9, 30))]['Flow' + str(sim.Index)].mean()

sims

       StartDate  Mean_2023_2040  Mean_2023_2052
SimNo
1     1933-10-01      995.262046     1084.154211
2     1934-10-01     1040.549033     1089.245594
3     1935-10-01     1048.353392     1093.802730
4     1936-10-01     1072.257653     1099.729374
5     1937-10-01     1111.183816     1099.807441
6     1938-10-01     1149.005962     1106.214709
7     1939-10-01     1201.152905     1123.231296
8     1940-10-01     1219.226414     1148.152911
9     1941-10-01     1207.718542     1146.320443
10    1942-10-01     1184.384424     1150.436835
11    1943-10-01     1211.885875     1180.620668
12    1944-10-01     1234.936805     1179.528041
13    1945-10-01     1277.172087     1178.686096
14    1946-10-01     1274.554878     1152.099007
15    1947-10-01     1256.354852     1129.229655
16    1948-10-01     1243.167168     1118.025963
17    1949-10-01     1211.493124     1103.720578
18    1950-10-01     1180.731952     1075.769518
19    1951-10-01     1184.983205     1056.891474
20    1952-10-01     1145.789750     1012.233597
21    1953-10-01     1148.370579     1018.368447
22    1954-10-01     1183.748229     1003.103353
23    1955-10-01     1184.100444      983.602148
24    1956-10-01     1164.186899      949.070401
25    1957-10-01     1118.399576      913.919829
26    1958-10-01     1099.608063      902.349937
27    1959-10-01     1084.368258      888.180950
28    1960-10-01     1058.988522      865.431282
29    1961-10-01     1048.433649      854.502123
30    1962-10-01      995.502261      831.999882
31    1963-10-01      930.994929      800.638123
32    1964-10-01      894.343081      781.374576
33    1965-10-01      905.573274      785.483052
34    1966-10-01      895.003604      787.094514
35    1967-10-01      904.946496      802.494481
36    1968-10-01      875.416631      808.347488
37    1969-10-01      840.786752      781.852895
38    1970-10-01      793.627645      765.402657
39    1971-10-01      759.628631      775.096275
40    1972-10-01      686.267572      758.585671
41    1973-10-01      641.471261      759.019685
42    1974-10-01      630.217306      770.012089
43    1975-10-01      625.480323      786.252154
44    1976-10-01      639.391963      806.002105
45    1977-10-01      669.493856      828.950418
46    1978-10-01      677.992417      851.069791
47    1979-10-01      696.209157      852.767895
48    1980-10-01      724.862782      862.552644
49    1981-10-01      718.989089      873.168249
50    1982-10-01      729.998136      879.693626
51    1983-10-01      738.143085      872.869637
52    1984-10-01      778.011834      886.421012
53    1985-10-01      815.818350      889.487326
54    1986-10-01      877.380494      893.711375
55    1987-10-01      920.117087      890.497299
56    1988-10-01      954.982043      901.751563
57    1989-10-01     1004.372268      920.853313
58    1990-10-01     1056.950061      929.102989
59    1991-10-01     1068.291718      947.671890
60    1992-10-01     1067.768352      943.052339

In [ ]:
summary