# Correlation between flows at Chavuma and Ngonye

## Parameters

In [1]:

ngonye_data='./output_data/2020/'
chavuma_data='./chavuma/output_data/'

## Libraries

In [39]:
import numpy as np
import pandas as pd
import math
import statsmodels.tsa.stattools as statools

## Load the Data

In [16]:
ngo = pd.read_csv(ngonye_data + 'ngonye_daily.csv').set_index('Date')
chav = pd.read_csv(chavuma_data + 'chavuma_daily.csv').set_index('Date')

,LaggedDate,VicFalls,Conversion,Flow,Exceedance,Year,Month,Day,MonthId,WaterYear,WaterMonth,WaterDay,WaterWeek,Volume,Flow_difference,EWRRefExceedance
Date,,,,,,,,,,,,,,,,
1924-10-01,1924-10-12,100.0000,1.407305,140.730461,0.999,1924,10,1,1924.10,1924,1,1,1,0.012159,0.500000,0.50
1924-10-02,1924-10-13,100.0000,1.407305,140.730461,0.999,1924,10,2,1924.10,1924,1,2,1,0.012159,0.000000,0.50
1924-10-03,1924-10-14,100.0000,1.407305,140.730461,0.999,1924,10,3,1924.10,1924,1,3,1,0.012159,0.000000,0.50
1924-10-04,1924-10-15,100.0000,1.407305,140.730461,0.999,1924,10,4,1924.10,1924,1,4,1,0.012159,0.000000,0.50
1924-10-05,1924-10-16,100.0000,1.407305,140.730461,0.999,1924,10,5,1924.10,1924,1,5,1,0.012159,0.000000,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-16,2020-05-27,3453.1404,1.037022,3580.983662,0.056,2020,5,16,2020.05,2019,8,229,33,0.309397,17.934432,0.08
2020-05-17,2020-05-28,3438.1311,1.035186,3559.103900,0.057,2020,5,17,2020.05,2019,8,230,33,0.307507,21.879761,0.08
2020-05-18,2020-05-29,3393.3391,1.028636,3490.510716,0.059,2020,5,18,2020.05,2019,8,231,33,0.301580,68.593185,0.08
2020-05-19,2020-05-30,3304.8137,1.025935,3390.523841,0.063,2020,5,19,2020.05,2019,8,232,34,0.292941,99.986874,0.08
2020-05-20,2020-05-31,3217.6933,1.031443,3318.867319,0.070,2020,5,20,2020.05,2019,8,233,34,0.286750,71.656522,0.08

In [29]:
combined=pd.DataFrame({'Chavuma': chav['Flow'],'Ngonye': ngo['Flow']}).dropna(0)
combined

            Chavuma       Ngonye
1959-10-10     49.0   220.239392
1959-10-11     49.0   214.776738
1959-10-12     49.0   213.467430
1959-10-13     49.0   213.467430
1959-10-14     47.0   213.467430
...             ...          ...
2020-05-16   1022.0  3580.983662
2020-05-17    991.0  3559.103900
2020-05-18    963.0  3490.510716
2020-05-19    934.0  3390.523841
2020-05-20    923.0  3318.867319

[22139 rows x 2 columns]

In [38]:
training, testing  = combined.iloc[:15000, :], combined.iloc[15000:, :]
training, testing

(              Chavuma      Ngonye
 1959-10-10  49.000000  220.239392
 1959-10-11  49.000000  214.776738
 1959-10-12  49.000000  213.467430
 1959-10-13  49.000000  213.467430
 1959-10-14  47.000000  213.467430
 ...               ...         ...
 2000-10-29  37.391946  152.091167
 2000-10-30  38.418211  149.404467
 2000-10-31  38.246318  148.338383
 2000-11-01  37.903549  148.188813
 2000-11-02  38.074763  147.656688

 [15000 rows x 2 columns],
                 Chavuma       Ngonye
 2000-11-03    38.418211   147.656688
 2000-11-04    42.465078   147.656688
 2000-11-05    48.390197   145.014983
 2000-11-06    54.854572   145.201643
 2000-11-07    55.459886   145.201643
 ...                 ...          ...
 2020-05-16  1022.000000  3580.983662
 2020-05-17   991.000000  3559.103900
 2020-05-18   963.000000  3490.510716
 2020-05-19   934.000000  3390.523841
 2020-05-20   923.000000  3318.867319

 [7139 rows x 2 columns])

In [93]:
autocorrel=pd.DataFrame(statools.acf(yearly['Energy'],fft=True,qstat=False,alpha=0.05))
autocorrel

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,1,0.470057,0.347898,0.288224,0.253285,0.160045,0.14524,0.0888819,0.176001,0.10438,...,-0.172877,-0.0924369,-0.00428005,0.0627289,0.0365915,-0.0284277,-0.000775512,0.00907542,-0.0187902,0.0197627
1,"[1.0, 1.0]","[0.2689692652222341, 0.6711453890231656]","[0.10643298639283033, 0.5893639225519856]","[0.02727603106162857, 0.549172108956372]","[-0.020233458688166728, 0.5268030514014819]","[-0.12279845731540212, 0.4428886820079799]","[-0.1412420435734652, 0.43172216704313954]","[-0.2005623269309781, 0.37832620293213925]","[-0.11454507792221211, 0.46654657636143426]","[-0.19044502285163434, 0.3992057734194334]",...,"[-0.538914919073664, 0.1931604332527414]","[-0.46176137524202715, 0.27688763247333587]","[-0.3745388942051406, 0.3659787977317553]","[-0.3075319637886479, 0.43298972937609914]","[-0.3340987831800034, 0.40728188015197975]","[-0.39926402951211976, 0.34240869064279295]","[-0.3716999808524608, 0.3701489576749676]","[-0.36184911872123887, 0.3799999509336451]","[-0.38972373666908616, 0.35214329044334364]","[-0.35120928062662043, 0.39073472115705604]"