# Correlation between flows at Chavuma and Ngonye

## Parameters

In [4]:

ngonye_data='./output_data/2020/'
chavuma_data='./chavuma/output_data/'

## Libraries

In [5]:
import numpy as np
import pandas as pd

## Load the Data

In [11]:
ngo = pd.read_csv(ngonye_data + 'ngonye_daily.csv').set_index('Date')
chav = pd.read_csv(chavuma_data + 'chavuma_daily.csv').set_index('Date')

,Date.1,Month,Day,Year,WaterYear,Flow,MonthId,WaterMonth
Date,,,,,,,,
1959-10-10,1959-10-10,10,10,1959,1959.0,49.0000,1959.10,1.0
1959-10-11,1959-10-11,10,11,1959,1959.0,49.0000,1959.10,1.0
1959-10-12,1959-10-12,10,12,1959,1959.0,49.0000,1959.10,1.0
1959-10-13,1959-10-13,10,13,1959,1959.0,49.0000,1959.10,1.0
1959-10-14,1959-10-14,10,14,1959,1959.0,47.0000,1959.10,1.0
...,...,...,...,...,...,...,...,...
2000-07-27,NaN,7,27,2000,1999.0,109.9375,2000.07,NaN
2000-07-28,NaN,7,28,2000,1999.0,107.7500,2000.07,NaN
2000-07-29,NaN,7,29,2000,1999.0,105.5625,2000.07,NaN
2000-07-30,NaN,7,30,2000,1999.0,103.3750,2000.07,NaN
2000-07-31,NaN,7,31,2000,1999.0,101.1875,2000.07,NaN