# Correlation between flows at Chavuma and Ngonye

## Parameters

In [2]:

ngonye_data='./output_data/2020/'
chavuma_data='./chavuma/output_data/'

## Libraries

In [3]:
import numpy as np
import pandas as pd
import math
import statsmodels.tsa.stattools as statools

## Load the Data

In [45]:
ngo = pd.read_csv(ngonye_data + 'ngonye_daily.csv').set_index('Date')
chav = pd.read_csv(chavuma_data + 'chavuma_daily.csv').set_index('Date')

In [46]:
chav

,Month,Day,Year,WaterYear,Flow,MonthId,WaterMonth,Exceedance
Date,,,,,,,,
1959-10-10,10,10,1959,1959.0,49.0,1959.10,1,0.957
1959-10-11,10,11,1959,1959.0,49.0,1959.10,1,0.957
1959-10-12,10,12,1959,1959.0,49.0,1959.10,1,0.957
1959-10-13,10,13,1959,1959.0,49.0,1959.10,1,0.957
1959-10-14,10,14,1959,1959.0,47.0,1959.10,1,0.963
...,...,...,...,...,...,...,...,...
2020-06-16,6,16,2020,2019.0,480.0,2020.06,9,0.357
2020-06-17,6,17,2020,2019.0,470.0,2020.06,9,0.361
2020-06-18,6,18,2020,2019.0,461.0,2020.06,9,0.365
2020-06-19,6,19,2020,2019.0,452.0,2020.06,9,0.368
2020-06-20,6,20,2020,2019.0,447.0,2020.06,9,0.370

In [77]:
combined=pd.DataFrame({'Chavuma': chav['Flow'],'Chavuma_Exceedance': chav['Exceedance'],'Ngonye': ngo['Flow'],'Ngonye_Exceedance': ngo['Exceedance'],}).dropna(0)
combined

            Chavuma  Chavuma_Exceedance       Ngonye  Ngonye_Exceedance
1959-10-10     49.0               0.957   220.239392              0.924
1959-10-11     49.0               0.957   214.776738              0.936
1959-10-12     49.0               0.957   213.467430              0.939
1959-10-13     49.0               0.957   213.467430              0.939
1959-10-14     47.0               0.963   213.467430              0.939
...             ...                 ...          ...                ...
2020-05-16   1022.0               0.208  3580.983662              0.056
2020-05-17    991.0               0.213  3559.103900              0.057
2020-05-18    963.0               0.217  3490.510716              0.059
2020-05-19    934.0               0.223  3390.523841              0.063
2020-05-20    923.0               0.226  3318.867319              0.070

[22139 rows x 4 columns]

In [78]:
training, testing  = combined.iloc[:15000, :], combined.iloc[15000:, :]
training, testing

(              Chavuma  Chavuma_Exceedance      Ngonye  Ngonye_Exceedance
 1959-10-10  49.000000               0.957  220.239392              0.924
 1959-10-11  49.000000               0.957  214.776738              0.936
 1959-10-12  49.000000               0.957  213.467430              0.939
 1959-10-13  49.000000               0.957  213.467430              0.939
 1959-10-14  47.000000               0.963  213.467430              0.939
 ...               ...                 ...         ...                ...
 2000-10-29  37.391946               0.990  152.091167              0.994
 2000-10-30  38.418211               0.985  149.404467              0.995
 2000-10-31  38.246318               0.985  148.338383              0.995
 2000-11-01  37.903549               0.989  148.188813              0.995
 2000-11-02  38.074763               0.985  147.656688              0.995

 [15000 rows x 4 columns],
                 Chavuma  Chavuma_Exceedance       Ngonye  Ngonye_Exceedance
 2000-11-03    38.418211               0.985   147.656688              0.995
 2000-11-04    42.465078               0.979   147.656688              0.995
 2000-11-05    48.390197               0.961   145.014983              0.997
 2000-11-06    54.854572               0.943   145.201643              0.997
 2000-11-07    55.459886               0.938   145.201643              0.997
 ...                 ...                 ...          ...                ...
 2020-05-16  1022.000000               0.208  3580.983662              0.056
 2020-05-17   991.000000               0.213  3559.103900              0.057
 2020-05-18   963.000000               0.217  3490.510716              0.059
 2020-05-19   934.000000               0.223  3390.523841              0.063
 2020-05-20   923.000000               0.226  3318.867319              0.070

 [7139 rows x 4 columns])

In [50]:
shifts=pd.DataFrame({'Shift':np.arange(1,30,1)})
shifts['All']=shifts.apply(lambda x: training['Chavuma'].shift(x['Shift']).dropna(0).corr(training['Ngonye']),1)
shifts

    Shift       All
0       1  0.798989
1       2  0.810635
2       3  0.821969
3       4  0.832950
4       5  0.843540
5       6  0.853701
6       7  0.863389
7       8  0.872557
8       9  0.881142
9      10  0.889090
10     11  0.896341
11     12  0.902860
12     13  0.908610
13     14  0.913562
14     15  0.917691
15     16  0.920979
16     17  0.923409
17     18  0.924978
18     19  0.925690
19     20  0.925568
20     21  0.924644
21     22  0.922954
22     23  0.920523
23     24  0.917389
24     25  0.913594
25     26  0.909188
26     27  0.904230
27     28  0.898767
28     29  0.892843

In [138]:
shifts=np.arange(1,30,1) #
exceeds=[(0,99),(99,100)]#np.arange(20,120,20)

correl=pd.DataFrame({'Shift':shifts})
correl=pd.concat([correl,pd.DataFrame(columns=exceeds)]).set_index('Shift')
correl

      (0, 99) (99, 100)
Shift
1.0       NaN       NaN
2.0       NaN       NaN
3.0       NaN       NaN
4.0       NaN       NaN
5.0       NaN       NaN
6.0       NaN       NaN
7.0       NaN       NaN
8.0       NaN       NaN
9.0       NaN       NaN
10.0      NaN       NaN
11.0      NaN       NaN
12.0      NaN       NaN
13.0      NaN       NaN
14.0      NaN       NaN
15.0      NaN       NaN
16.0      NaN       NaN
17.0      NaN       NaN
18.0      NaN       NaN
19.0      NaN       NaN
20.0      NaN       NaN
21.0      NaN       NaN
22.0      NaN       NaN
23.0      NaN       NaN
24.0      NaN       NaN
25.0      NaN       NaN
26.0      NaN       NaN
27.0      NaN       NaN
28.0      NaN       NaN
29.0      NaN       NaN

In [139]:
for shift in shifts:
    shifted=pd.concat([training[['Chavuma','Chavuma_Exceedance']].shift(shift).dropna(),training[['Ngonye','Ngonye_Exceedance']]],1).dropna()

    for exceed in exceeds:
        days=shifted[(shifted['Chavuma_Exceedance']*100 >= exceed[0]) & (shifted['Chavuma_Exceedance']*100 <= exceed[1])]
        correl.loc[shift,exceed]=days['Chavuma'].corr(days['Ngonye'])

correl

        (0, 99)   (99, 100)
Shift
1.0    0.797849 -0.00804754
2.0    0.809567 -0.00521279
3.0     0.82097  0.00115324
4.0    0.832019  0.00934701
5.0    0.842674   0.0200681
6.0    0.852897   0.0302521
7.0    0.862645   0.0336975
8.0    0.871868   0.0371972
9.0    0.880506   0.0396644
10.0   0.888502   0.0460113
11.0   0.895798   0.0410304
12.0   0.902356   0.0376088
13.0   0.908141   0.0343696
14.0   0.913123   0.0376766
15.0   0.917276   0.0420411
16.0   0.920583   0.0378132
17.0   0.923028   0.0276593
18.0   0.924606   0.0212907
19.0   0.925322   0.0223691
20.0   0.925198   0.0241845
21.0   0.924268   0.0243908
22.0   0.922567   0.0241632
23.0   0.920121   0.0250047
24.0   0.916968   0.0254936
25.0   0.913149   0.0216477
26.0   0.908716   0.0212224
27.0   0.903728   0.0208223
28.0   0.898231   0.0173555
29.0   0.892272   0.0182649

In [98]:
correl

,Shift,10,20,30,40,50,60,70,80,90,100
0,1.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
1,2.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
2,3.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
3,4.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
4,5.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
5,6.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
6,7.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
7,8.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
8,9.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
9,10.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
10,11.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
11,12.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
12,13.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
13,14.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
14,15.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
15,16.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
16,17.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
17,18.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
18,19.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
19,20.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
20,21.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
21,22.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
22,23.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
23,24.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
24,25.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
25,26.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
26,27.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
27,28.0,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
28,29.0,15,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359
29,NaN,0.561215,0.0936583,0.237631,0.174876,0.40423,0.483906,0.470896,0.446909,0.453698,0.654359