In [85]:
#using Pkg
#Pkg.add("CSV")
#Pkg.add("DataFrames")
#Pkg.add("Plots")
using CSV
using DataFrames
using Statistics
using Dates
using Plots

 Resolving package versions...
  Updating `C:\Users\Dell\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\Dell\.julia\environments\v1.3\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Dell\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\Dell\.julia\environments\v1.3\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Dell\.julia\environments\v1.3\Project.toml`
 [no changes]
  Updating `C:\Users\Dell\.julia\environments\v1.3\Manifest.toml`
 [no changes]

In [77]:
daily=DataFrame(CSV.File("daily.csv"))
daily.Date=Date.(daily.Date,"dd/mm/yyyy")
daily.Year=Dates.year.(daily.Date)
daily.MonthNo=Dates.month.(daily.Date)
daily.Day=Dates.day.(daily.Date)
daily.MonthId=daily.Year .+ (daily.MonthNo ./ 100)
daily

33968×6 DataFrame
│ Row   │ Date       │ Year  │ MonthNo │ Day   │ Flow  │ MonthId │
│       │ Date       │ Int64 │ Int64   │ Int64 │ Int64 │ Float64 │
├───────┼────────────┼───────┼─────────┼───────┼───────┼─────────┤
│ 1     │ 1924-10-01 │ 1924  │ 10      │ 1     │ 111   │ 1924.1  │
│ 2     │ 1924-10-02 │ 1924  │ 10      │ 2     │ 111   │ 1924.1  │
│ 3     │ 1924-10-03 │ 1924  │ 10      │ 3     │ 111   │ 1924.1  │
│ 4     │ 1924-10-04 │ 1924  │ 10      │ 4     │ 111   │ 1924.1  │
│ 5     │ 1924-10-05 │ 1924  │ 10      │ 5     │ 111   │ 1924.1  │
│ 6     │ 1924-10-06 │ 1924  │ 10      │ 6     │ 111   │ 1924.1  │
│ 7     │ 1924-10-07 │ 1924  │ 10      │ 7     │ 111   │ 1924.1  │
│ 8     │ 1924-10-08 │ 1924  │ 10      │ 8     │ 111   │ 1924.1  │
│ 9     │ 1924-10-09 │ 1924  │ 10      │ 9     │ 111   │ 1924.1  │
│ 10    │ 1924-10-10 │ 1924  │ 10      │ 10    │ 111   │ 1924.1  │
⋮
│ 33958 │ 2017-09-20 │ 2017  │ 9       │ 20    │ 213   │ 2017.09 │
│ 33959 │ 2017-09-21 │ 2017  │ 9       │ 21    │ 213   │ 2017.09 │
│ 33960 │ 2017-09-22 │ 2017  │ 9       │ 22    │ 210   │ 2017.09 │
│ 33961 │ 2017-09-23 │ 2017  │ 9       │ 23    │ 203   │ 2017.09 │
│ 33962 │ 2017-09-24 │ 2017  │ 9       │ 24    │ 201   │ 2017.09 │
│ 33963 │ 2017-09-25 │ 2017  │ 9       │ 25    │ 201   │ 2017.09 │
│ 33964 │ 2017-09-26 │ 2017  │ 9       │ 26    │ 201   │ 2017.09 │
│ 33965 │ 2017-09-27 │ 2017  │ 9       │ 27    │ 201   │ 2017.09 │
│ 33966 │ 2017-09-28 │ 2017  │ 9       │ 28    │ 201   │ 2017.09 │
│ 33967 │ 2017-09-29 │ 2017  │ 9       │ 29    │ 201   │ 2017.09 │
│ 33968 │ 2017-09-30 │ 2017  │ 9       │ 30    │ 200   │ 2017.09 │

In [78]:
monthly=DataFrame(CSV.File("monthly.csv"))

1104×4 DataFrame
│ Row  │ Year  │ MonthNo │ MonthName │ Energy_sum │
│      │ Int64 │ Int64   │ String    │ Float64    │
├──────┼───────┼─────────┼───────────┼────────────┤
│ 1    │ 1924  │ 10      │  Oct      │ 0.0        │
│ 2    │ 1924  │ 11      │  Nov      │ 7.7        │
│ 3    │ 1924  │ 12      │  Dec      │ 24.3       │
│ 4    │ 1925  │ 1       │  Jan      │ 61.8       │
│ 5    │ 1925  │ 2       │  Feb      │ 109.5      │
│ 6    │ 1925  │ 3       │  Mar      │ 137.4      │
│ 7    │ 1925  │ 4       │  Apr      │ 103.7      │
│ 8    │ 1925  │ 5       │  May      │ 112.9      │
│ 9    │ 1925  │ 6       │  Jun      │ 129.0      │
│ 10   │ 1925  │ 7       │  Jul      │ 89.9       │
⋮
│ 1094 │ 2015  │ 11      │  Nov      │ 28.4       │
│ 1095 │ 2015  │ 12      │  Dec      │ 41.9       │
│ 1096 │ 2016  │ 1       │  Jan      │ 67.7       │
│ 1097 │ 2016  │ 2       │  Feb      │ 87.3       │
│ 1098 │ 2016  │ 3       │  Mar      │ 119.7      │
│ 1099 │ 2016  │ 4       │  Apr      │ 132.9      │
│ 1100 │ 2016  │ 5       │  May      │ 139.0      │
│ 1101 │ 2016  │ 6       │  Jun      │ 128.9      │
│ 1102 │ 2016  │ 7       │  Jul      │ 81.4       │
│ 1103 │ 2016  │ 8       │  Aug      │ 48.2       │
│ 1104 │ 2016  │ 9       │  Sep      │ 31.2       │

In [87]:
monthly.MonthId=monthly.Year .+ (monthly.MonthNo ./ 100)
monthly.YearDecimal=monthly.Year .+ (monthly.MonthNo ./ 12)
monthly

1104×11 DataFrame. Omitted printing of 5 columns
│ Row  │ Year  │ MonthNo │ MonthName │ Energy_sum │ MonthId │ Flow_max │
│      │ Int64 │ Int64   │ String    │ Float64    │ Float64 │ Int64    │
├──────┼───────┼─────────┼───────────┼────────────┼─────────┼──────────┤
│ 1    │ 1924  │ 10      │  Oct      │ 0.0        │ 1924.1  │ 127      │
│ 2    │ 1924  │ 11      │  Nov      │ 7.7        │ 1924.11 │ 191      │
│ 3    │ 1924  │ 12      │  Dec      │ 24.3       │ 1924.12 │ 440      │
│ 4    │ 1925  │ 1       │  Jan      │ 61.8       │ 1925.01 │ 1183     │
│ 5    │ 1925  │ 2       │  Feb      │ 109.5      │ 1925.02 │ 1437     │
│ 6    │ 1925  │ 3       │  Mar      │ 137.4      │ 1925.03 │ 3452     │
│ 7    │ 1925  │ 4       │  Apr      │ 103.7      │ 1925.04 │ 3441     │
│ 8    │ 1925  │ 5       │  May      │ 112.9      │ 1925.05 │ 3021     │
│ 9    │ 1925  │ 6       │  Jun      │ 129.0      │ 1925.06 │ 1551     │
│ 10   │ 1925  │ 7       │  Jul      │ 89.9       │ 1925.07 │ 819      │
⋮
│ 1094 │ 2015  │ 11      │  Nov      │ 28.4       │ 2015.11 │ 235      │
│ 1095 │ 2015  │ 12      │  Dec      │ 41.9       │ 2015.12 │ 386      │
│ 1096 │ 2016  │ 1       │  Jan      │ 67.7       │ 2016.01 │ 600      │
│ 1097 │ 2016  │ 2       │  Feb      │ 87.3       │ 2016.02 │ 1359     │
│ 1098 │ 2016  │ 3       │  Mar      │ 119.7      │ 2016.03 │ 2717     │
│ 1099 │ 2016  │ 4       │  Apr      │ 132.9      │ 2016.04 │ 2976     │
│ 1100 │ 2016  │ 5       │  May      │ 139.0      │ 2016.05 │ 2897     │
│ 1101 │ 2016  │ 6       │  Jun      │ 128.9      │ 2016.06 │ 1890     │
│ 1102 │ 2016  │ 7       │  Jul      │ 81.4       │ 2016.07 │ 708      │
│ 1103 │ 2016  │ 8       │  Aug      │ 48.2       │ 2016.08 │ 393      │
│ 1104 │ 2016  │ 9       │  Sep      │ 31.2       │ 2016.09 │ 276      │

In [81]:
monthly.Flow_max=join(monthly, by(daily,:MonthId,tmp_Flow_max=:Flow=>maximum), on = :MonthId)[!,:tmp_Flow_max]
monthly.Flow_mean=join(monthly, by(daily,:MonthId,tmp_Flow_mean=:Flow=>mean), on = :MonthId)[!,:tmp_Flow_mean]
monthly.Flow_median=join(monthly, by(daily,:MonthId,tmp_Flow_median=:Flow=>median), on = :MonthId)[!,:tmp_Flow_median]
monthly.Flow_min=join(monthly, by(daily,:MonthId,tmp_Flow_min=:Flow=>minimum), on = :MonthId)[!,:tmp_Flow_min]
monthly.Flow_range=monthly.Flow_max-monthly.Flow_min
monthly

1104×10 DataFrame. Omitted printing of 4 columns
│ Row  │ Year  │ MonthNo │ MonthName │ Energy_sum │ MonthId │ Flow_max │
│      │ Int64 │ Int64   │ String    │ Float64    │ Float64 │ Int64    │
├──────┼───────┼─────────┼───────────┼────────────┼─────────┼──────────┤
│ 1    │ 1924  │ 10      │  Oct      │ 0.0        │ 1924.1  │ 127      │
│ 2    │ 1924  │ 11      │  Nov      │ 7.7        │ 1924.11 │ 191      │
│ 3    │ 1924  │ 12      │  Dec      │ 24.3       │ 1924.12 │ 440      │
│ 4    │ 1925  │ 1       │  Jan      │ 61.8       │ 1925.01 │ 1183     │
│ 5    │ 1925  │ 2       │  Feb      │ 109.5      │ 1925.02 │ 1437     │
│ 6    │ 1925  │ 3       │  Mar      │ 137.4      │ 1925.03 │ 3452     │
│ 7    │ 1925  │ 4       │  Apr      │ 103.7      │ 1925.04 │ 3441     │
│ 8    │ 1925  │ 5       │  May      │ 112.9      │ 1925.05 │ 3021     │
│ 9    │ 1925  │ 6       │  Jun      │ 129.0      │ 1925.06 │ 1551     │
│ 10   │ 1925  │ 7       │  Jul      │ 89.9       │ 1925.07 │ 819      │
⋮
│ 1094 │ 2015  │ 11      │  Nov      │ 28.4       │ 2015.11 │ 235      │
│ 1095 │ 2015  │ 12      │  Dec      │ 41.9       │ 2015.12 │ 386      │
│ 1096 │ 2016  │ 1       │  Jan      │ 67.7       │ 2016.01 │ 600      │
│ 1097 │ 2016  │ 2       │  Feb      │ 87.3       │ 2016.02 │ 1359     │
│ 1098 │ 2016  │ 3       │  Mar      │ 119.7      │ 2016.03 │ 2717     │
│ 1099 │ 2016  │ 4       │  Apr      │ 132.9      │ 2016.04 │ 2976     │
│ 1100 │ 2016  │ 5       │  May      │ 139.0      │ 2016.05 │ 2897     │
│ 1101 │ 2016  │ 6       │  Jun      │ 128.9      │ 2016.06 │ 1890     │
│ 1102 │ 2016  │ 7       │  Jul      │ 81.4       │ 2016.07 │ 708      │
│ 1103 │ 2016  │ 8       │  Aug      │ 48.2       │ 2016.08 │ 393      │
│ 1104 │ 2016  │ 9       │  Sep      │ 31.2       │ 2016.09 │ 276      │

In [99]:
plotlyjs()
plot(monthly.YearDecimal,monthly.Flow_mean,title="Ngonye - Historic Flow",label="",ylabel="Flow m3/s")

ArgumentError: ArgumentError: Package PlotlyJS not found in current path:
- Run `import Pkg; Pkg.add("PlotlyJS")` to install the PlotlyJS package.