In [1]:
import numpy as np
import pandas as pd
import math
import statsmodels.tsa.stattools as statools

In [2]:
ngonye_data='./output_data/2020/'

In [78]:
ngo = pd.read_csv(ngonye_data + 'ngonye_daily.csv')
ngo['Date']=pd.to_datetime(ngo['Date'],format="%Y-%m-%d")#"%d/%m/%Y")
ngo=ngo.set_index(pd.DatetimeIndex(ngo['Date']))
ngo['DateVal']=ngo.index

In [156]:
ngo = ngo[['Flow','Exceedance','DateVal','Year','Month','Day']]
ngo

                   Flow  Exceedance    DateVal  Year  Month  Day
Date
1924-10-01   140.730461       0.999 1924-10-01  1924     10    1
1924-10-02   140.730461       0.999 1924-10-02  1924     10    2
1924-10-03   140.730461       0.999 1924-10-03  1924     10    3
1924-10-04   140.730461       0.999 1924-10-04  1924     10    4
1924-10-05   140.730461       0.999 1924-10-05  1924     10    5
...                 ...         ...        ...   ...    ...  ...
2020-05-16  3580.983662       0.056 2020-05-16  2020      5   16
2020-05-17  3559.103900       0.057 2020-05-17  2020      5   17
2020-05-18  3490.510716       0.059 2020-05-18  2020      5   18
2020-05-19  3390.523841       0.063 2020-05-19  2020      5   19
2020-05-20  3318.867319       0.070 2020-05-20  2020      5   20

[34931 rows x 6 columns]

In [157]:
actual=pd.DataFrame(columns=np.arange(1,31,1))
actual['DateVal']=[]
actual

for index, row in ngo.reset_index().iterrows():

    vals=pd.Series(ngo['Flow'].iloc[index+1:index+31]).reset_index().drop('Date',axis=1)
    vals=vals.rename(columns={"Flow":row['DateVal']})
    vals.index+=1
    vals=vals.transpose().reset_index().rename(columns={"index":"DateVal"})
    if index % 1000 == 0:
        display(index)
    actual=pd.concat([actual,vals],axis=0)

actual

0

1000

2000

3000

4000

5000

6000

7000

8000

9000

10000

11000

12000

13000

14000

15000

16000

17000

18000

19000

20000

21000

22000

23000

24000

25000

26000

27000

28000

29000

30000

31000

32000

33000

34000

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,DateVal
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,144.610705,147.267478,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,1924-10-01
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,147.267478,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,1924-10-02
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,1924-10-03
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,143.928906,1924-10-04
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,143.928906,138.842814,1924-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,3559.103900,3490.510716,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-16
0,3490.510716,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-17
0,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-18
0,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-20

In [165]:
actual=actual.reset_index().set_index('DateVal')
actual=actual.drop('index',axis=1)
actual

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
DateVal,,,,,,,,,,,,,,,,,,,,,
1924-10-01,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,144.610705,144.610705,147.267478,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365
1924-10-02,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,144.610705,147.267478,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082
1924-10-03,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,147.267478,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969
1924-10-04,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,143.928906
1924-10-05,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,143.928906,138.842814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-16,3559.103900,3490.510716,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-17,3490.510716,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-18,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-19,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
actual.to_csv(ngonye_data + 'ngonye_forecast_actual.csv')

In [235]:
m1=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m1.index.name='DateVal'
m1['m']=m1['Flow']-m1['Flow'].shift(1)
m1[np.arange(1,31,1)]= m1.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)
#m1

In [236]:
d1=m1[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d1['DateVal']=ngo['DateVal']
d1['Flow']=ngo['Flow']
#d1

In [237]:
e1=d1[np.arange(1,31,1)].divide(d1['Flow'],axis=0)
#e1

In [249]:
rmse=((e1[np.arange(1,31,1)]**2).mean()**0.5).to_frame().rename(columns={0:"m1"})
rmse

          m1
1   0.023976
2   0.044498
3   0.065037
4   0.086221
5   0.108376
6   0.131265
7   0.154444
8   0.178278
9   0.202742
10  0.227450
11  0.252715
12  0.278694
13  0.304864
14  0.330815
15  0.357113
16  0.384040
17  0.411163
18  0.438281
19  0.465769
20  0.493336
21  0.520723
22  0.548348
23  0.576086
24  0.603778
25  0.631772
26  0.659745
27  0.687682
28  0.715689
29  0.743827
30  0.772767

In [240]:
m2=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m2.index.name='DateVal'
m2['m']=(m2['Flow']-m2['Flow'].shift(3))/3
m2[np.arange(1,31,1)]= m2.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)

In [242]:
d2=m2[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d2['DateVal']=ngo['DateVal']
d2['Flow']=ngo['Flow']

In [243]:
e2=d2[np.arange(1,31,1)].divide(d2['Flow'],axis=0)

In [250]:
rmse['m2']=(e2[np.arange(1,31,1)]**2).mean()**0.5
rmse

          m1        m2
1   0.023976  0.021171
2   0.044498  0.036939
3   0.065037  0.052783
4   0.086221  0.069626
5   0.108376  0.087413
6   0.131265  0.105904
7   0.154444  0.125070
8   0.178278  0.144933
9   0.202742  0.165360
10  0.227450  0.186351
11  0.252715  0.207908
12  0.278694  0.229801
13  0.304864  0.251850
14  0.330815  0.274119
15  0.357113  0.296831
16  0.384040  0.319860
17  0.411163  0.343103
18  0.438281  0.366509
19  0.465769  0.390005
20  0.493336  0.413507
21  0.520723  0.437044
22  0.548348  0.460701
23  0.576086  0.484465
24  0.603778  0.508302
25  0.631772  0.532181
26  0.659745  0.556002
27  0.687682  0.579907
28  0.715689  0.604155
29  0.743827  0.628879
30  0.772767  0.654155

In [251]:
m3=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m3.index.name='DateVal'
m3['m']=(m3['Flow']-m3['Flow'].shift(5))/5
m3[np.arange(1,31,1)]= m3.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)

In [252]:
d3=m3[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d3['DateVal']=ngo['DateVal']
d3['Flow']=ngo['Flow']

In [253]:
e3=d3[np.arange(1,31,1)].divide(d3['Flow'],axis=0)

In [255]:
rmse['m3']=(e3[np.arange(1,31,1)]**2).mean()**0.5
rmse

          m1        m2        m3
1   0.023976  0.021171  0.020668
2   0.044498  0.036939  0.035689
3   0.065037  0.052783  0.050750
4   0.086221  0.069626  0.066777
5   0.108376  0.087413  0.083847
6   0.131265  0.105904  0.101670
7   0.154444  0.125070  0.120185
8   0.178278  0.144933  0.139479
9   0.202742  0.165360  0.159331
10  0.227450  0.186351  0.179549
11  0.252715  0.207908  0.200205
12  0.278694  0.229801  0.221338
13  0.304864  0.251850  0.242735
14  0.330815  0.274119  0.264271
15  0.357113  0.296831  0.286178
16  0.384040  0.319860  0.308394
17  0.411163  0.343103  0.330688
18  0.438281  0.366509  0.353071
19  0.465769  0.390005  0.375590
20  0.493336  0.413507  0.398120
21  0.520723  0.437044  0.420695
22  0.548348  0.460701  0.443378
23  0.576086  0.484465  0.466063
24  0.603778  0.508302  0.488719
25  0.631772  0.532181  0.511426
26  0.659745  0.556002  0.534290
27  0.687682  0.579907  0.557415
28  0.715689  0.604155  0.580865
29  0.743827  0.628879  0.604740
30  0.772767  0.654155  0.629076

In [256]:
m4=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m4.index.name='DateVal'
m4['m']=(m4['Flow']-m4['Flow'].shift(7))/7
m4[np.arange(1,31,1)]= m4.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)

In [257]:
d4=m4[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d4['DateVal']=ngo['DateVal']
d4['Flow']=ngo['Flow']

In [258]:
e4=d4[np.arange(1,31,1)].divide(d4['Flow'],axis=0)

In [259]:
rmse['m4']=(e4[np.arange(1,31,1)]**2).mean()**0.5
rmse

          m1        m2        m3        m4
1   0.023976  0.021171  0.020668  0.020614
2   0.044498  0.036939  0.035689  0.035461
3   0.065037  0.052783  0.050750  0.050444
4   0.086221  0.069626  0.066777  0.066418
5   0.108376  0.087413  0.083847  0.083429
6   0.131265  0.105904  0.101670  0.101272
7   0.154444  0.125070  0.120185  0.119803
8   0.178278  0.144933  0.139479  0.138963
9   0.202742  0.165360  0.159331  0.158603
10  0.227450  0.186351  0.179549  0.178695
11  0.252715  0.207908  0.200205  0.199248
12  0.278694  0.229801  0.221338  0.220201
13  0.304864  0.251850  0.242735  0.241413
14  0.330815  0.274119  0.264271  0.262773
15  0.357113  0.296831  0.286178  0.284367
16  0.384040  0.319860  0.308394  0.306191
17  0.411163  0.343103  0.330688  0.328129
18  0.438281  0.366509  0.353071  0.350137
19  0.465769  0.390005  0.375590  0.372276
20  0.493336  0.413507  0.398120  0.394440
21  0.520723  0.437044  0.420695  0.416577
22  0.548348  0.460701  0.443378  0.438735
23  0.576086  0.484465  0.466063  0.460896
24  0.603778  0.508302  0.488719  0.483137
25  0.631772  0.532181  0.511426  0.505543
26  0.659745  0.556002  0.534290  0.528119
27  0.687682  0.579907  0.557415  0.550960
28  0.715689  0.604155  0.580865  0.574107
29  0.743827  0.628879  0.604740  0.597580
30  0.772767  0.654155  0.629076  0.621441

In [260]:
m5=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m5.index.name='DateVal'

In [261]:
#m5['m']=(m4['Flow']-m4['Flow'].shift(7))/7


#m5[np.arange(1,31,1)]= m5.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)
m5.loc['2010-10-01']

1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN
5                                       NaN
6                                       NaN
7                                       NaN
8                                       NaN
9                                       NaN
10                                      NaN
11                                      NaN
12                                      NaN
13                                      NaN
14                                      NaN
15                                      NaN
16                                      NaN
17                                      NaN
18                                      NaN
19                                      NaN
20                                      NaN
21                                      NaN
22                                      NaN
23                                      NaN
24                                      NaN
25                                      NaN
26                                      NaN
27                                      NaN
28                                      NaN
29                                      NaN
30                                      NaN
DateVal       2010-10-01T00:00:00.000000000
Day                                       1
Exceedance                            0.788
Flow                                295.769
Month                                    10
Year                                   2010
Name: 2010-10-01 00:00:00, dtype: object