In [112]:
import numpy as np
import pandas as pd
import math
import statsmodels.tsa.stattools as statools

In [257]:
ngonye_data='./output_data/2020/'
output_data='./output_data/forecast/'

In [114]:
ngo = pd.read_csv(ngonye_data + 'ngonye_daily.csv')
ngo['Date']=pd.to_datetime(ngo['Date'],format="%Y-%m-%d")#"%d/%m/%Y")
ngo=ngo.set_index(pd.DatetimeIndex(ngo['Date']))
ngo['DateVal']=ngo.index

In [115]:
ngo = ngo[['Flow','Exceedance','DateVal','Year','Month','Day']]
ngo

                   Flow  Exceedance    DateVal  Year  Month  Day
Date
1924-10-01   140.730461       0.999 1924-10-01  1924     10    1
1924-10-02   140.730461       0.999 1924-10-02  1924     10    2
1924-10-03   140.730461       0.999 1924-10-03  1924     10    3
1924-10-04   140.730461       0.999 1924-10-04  1924     10    4
1924-10-05   140.730461       0.999 1924-10-05  1924     10    5
...                 ...         ...        ...   ...    ...  ...
2020-05-16  3580.983662       0.056 2020-05-16  2020      5   16
2020-05-17  3559.103900       0.057 2020-05-17  2020      5   17
2020-05-18  3490.510716       0.059 2020-05-18  2020      5   18
2020-05-19  3390.523841       0.063 2020-05-19  2020      5   19
2020-05-20  3318.867319       0.070 2020-05-20  2020      5   20

[34931 rows x 6 columns]

In [175]:
actual = pd.read_csv(ngonye_data + 'ngonye_forecast_actual.csv')
actual['DateVal']=pd.to_datetime(actual['DateVal'],format="%Y-%m-%d")
actual=actual.set_index('DateVal')
actual = actual.rename(columns={c: int(c) for c in actual.columns})
actual

DateVal
1924-10-01     140.730461
1924-10-02     140.730461
1924-10-03     140.730461
1924-10-04     140.730461
1924-10-05     140.730461
                 ...
2020-05-16    3559.103900
2020-05-17    3490.510716
2020-05-18    3390.523841
2020-05-19    3318.867319
2020-05-20            NaN
Name: 1, Length: 34931, dtype: float64

In [157]:
actual=pd.DataFrame(columns=np.arange(1,31,1))
actual['DateVal']=[]
actual

for index, row in ngo.reset_index().iterrows():

    vals=pd.Series(ngo['Flow'].iloc[index+1:index+31]).reset_index().drop('Date',axis=1)
    vals=vals.rename(columns={"Flow":row['DateVal']})
    vals.index+=1
    vals=vals.transpose().reset_index().rename(columns={"index":"DateVal"})
    if index % 1000 == 0:
        display(index)
    actual=pd.concat([actual,vals],axis=0)

actual

0

1000

2000

3000

4000

5000

6000

7000

8000

9000

10000

11000

12000

13000

14000

15000

16000

17000

18000

19000

20000

21000

22000

23000

24000

25000

26000

27000

28000

29000

30000

31000

32000

33000

34000

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,DateVal
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,144.610705,147.267478,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,1924-10-01
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,147.267478,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,1924-10-02
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,1924-10-03
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,143.928906,1924-10-04
0,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,136.426365,136.426365,136.426365,136.426365,136.426365,138.899082,141.399969,143.928906,138.842814,1924-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,3559.103900,3490.510716,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-16
0,3490.510716,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-17
0,3390.523841,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-18
0,3318.867319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-20

In [159]:
actual=actual.reset_index().set_index('DateVal')
actual=actual.drop('index',axis=1)
actual

KeyError: "['index'] not found in axis"

In [166]:
actual.to_csv(ngonye_data + 'ngonye_forecast_actual.csv')

In [236]:
m1=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m1.index.name='DateVal'
m1['m']=m1['Flow']-m1['Flow'].shift(1)
m1[np.arange(1,31,1)]= m1.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)

In [260]:
m1

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,DateVal,Day,Exceedance,Flow,Month,Year,m
DateVal,,,,,,,,,,,,,,,,,,,,,
1924-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1924-10-01,1.0,0.999,140.730461,10.0,1924.0,NaN
1924-10-02,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-02,2.0,0.999,140.730461,10.0,1924.0,0.000000
1924-10-03,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-03,3.0,0.999,140.730461,10.0,1924.0,0.000000
1924-10-04,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-04,4.0,0.999,140.730461,10.0,1924.0,0.000000
1924-10-05,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-05,5.0,0.999,140.730461,10.0,1924.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-16,3563.049229,3545.114797,3527.180365,3509.245932,3491.311500,3473.377067,3455.442635,3437.508202,3419.573770,3401.639338,...,3078.819554,3060.885122,3042.950689,2020-05-16,16.0,0.056,3580.983662,5.0,2020.0,-17.934432
2020-05-17,3537.224139,3515.344378,3493.464616,3471.584855,3449.705093,3427.825332,3405.945571,3384.065809,3362.186048,3340.306286,...,2946.470581,2924.590820,2902.711058,2020-05-17,17.0,0.057,3559.103900,5.0,2020.0,-21.879761
2020-05-18,3421.917531,3353.324346,3284.731161,3216.137976,3147.544791,3078.951606,3010.358421,2941.765237,2873.172052,2804.578867,...,1569.901539,1501.308354,1432.715169,2020-05-18,18.0,0.059,3490.510716,5.0,2020.0,-68.593185
2020-05-19,3290.536967,3190.550093,3090.563218,2990.576344,2890.589470,2790.602595,2690.615721,2590.628847,2490.641972,2390.655098,...,590.891360,490.904486,390.917612,2020-05-19,19.0,0.063,3390.523841,5.0,2020.0,-99.986874
2020-05-20,3247.210797,3175.554275,3103.897753,3032.241231,2960.584709,2888.928187,2817.271665,2745.615143,2673.958621,2602.302099,...,1312.484703,1240.828181,1169.171659,2020-05-20,20.0,0.070,3318.867319,5.0,2020.0,-71.656522

In [237]:
d1=m1[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d1['DateVal']=ngo['DateVal']
d1['Flow']=ngo['Flow']
e1=d1[np.arange(1,31,1)].divide(d1['Flow'],axis=0)
rmse=((e1[np.arange(1,31,1)]**2).mean()**0.5).to_frame().rename(columns={0:"linear_1p"})
rmse

    linear_1p
1    0.023976
2    0.044498
3    0.065037
4    0.086221
5    0.108376
6    0.131265
7    0.154444
8    0.178278
9    0.202742
10   0.227450
11   0.252715
12   0.278694
13   0.304864
14   0.330815
15   0.357113
16   0.384040
17   0.411163
18   0.438281
19   0.465769
20   0.493336
21   0.520723
22   0.548348
23   0.576086
24   0.603778
25   0.631772
26   0.659745
27   0.687682
28   0.715689
29   0.743827
30   0.772767

In [239]:
m2=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m2.index.name='DateVal'
m2['m']=(m2['Flow']-m2['Flow'].shift(3))/3
m2[np.arange(1,31,1)]= m2.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)

In [240]:
d2=m2[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d2['DateVal']=ngo['DateVal']
d2['Flow']=ngo['Flow']
e2=d2[np.arange(1,31,1)].divide(d2['Flow'],axis=0)
rmse['linear_2p']=(e2[np.arange(1,31,1)]**2).mean()**0.5
rmse

    linear_1p  linear_2p
1    0.023976   0.021171
2    0.044498   0.036939
3    0.065037   0.052783
4    0.086221   0.069626
5    0.108376   0.087413
6    0.131265   0.105904
7    0.154444   0.125070
8    0.178278   0.144933
9    0.202742   0.165360
10   0.227450   0.186351
11   0.252715   0.207908
12   0.278694   0.229801
13   0.304864   0.251850
14   0.330815   0.274119
15   0.357113   0.296831
16   0.384040   0.319860
17   0.411163   0.343103
18   0.438281   0.366509
19   0.465769   0.390005
20   0.493336   0.413507
21   0.520723   0.437044
22   0.548348   0.460701
23   0.576086   0.484465
24   0.603778   0.508302
25   0.631772   0.532181
26   0.659745   0.556002
27   0.687682   0.579907
28   0.715689   0.604155
29   0.743827   0.628879
30   0.772767   0.654155

In [241]:
m3=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m3.index.name='DateVal'
m3['m']=(m3['Flow']-m3['Flow'].shift(5))/5
m3[np.arange(1,31,1)]= m3.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)

In [242]:
d3=m3[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d3['DateVal']=ngo['DateVal']
d3['Flow']=ngo['Flow']
e3=d3[np.arange(1,31,1)].divide(d3['Flow'],axis=0)
rmse['linear_3p']=(e3[np.arange(1,31,1)]**2).mean()**0.5
rmse

    linear_1p  linear_2p  linear_3p
1    0.023976   0.021171   0.020668
2    0.044498   0.036939   0.035689
3    0.065037   0.052783   0.050750
4    0.086221   0.069626   0.066777
5    0.108376   0.087413   0.083847
6    0.131265   0.105904   0.101670
7    0.154444   0.125070   0.120185
8    0.178278   0.144933   0.139479
9    0.202742   0.165360   0.159331
10   0.227450   0.186351   0.179549
11   0.252715   0.207908   0.200205
12   0.278694   0.229801   0.221338
13   0.304864   0.251850   0.242735
14   0.330815   0.274119   0.264271
15   0.357113   0.296831   0.286178
16   0.384040   0.319860   0.308394
17   0.411163   0.343103   0.330688
18   0.438281   0.366509   0.353071
19   0.465769   0.390005   0.375590
20   0.493336   0.413507   0.398120
21   0.520723   0.437044   0.420695
22   0.548348   0.460701   0.443378
23   0.576086   0.484465   0.466063
24   0.603778   0.508302   0.488719
25   0.631772   0.532181   0.511426
26   0.659745   0.556002   0.534290
27   0.687682   0.579907   0.557415
28   0.715689   0.604155   0.580865
29   0.743827   0.628879   0.604740
30   0.772767   0.654155   0.629076

In [243]:
m4=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m4.index.name='DateVal'
m4['m']=(m4['Flow']-m4['Flow'].shift(7))/7
m4[np.arange(1,31,1)]= m4.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)

In [261]:
m4

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,DateVal,Day,Exceedance,Flow,Month,Year,m
DateVal,,,,,,,,,,,,,,,,,,,,,
1924-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1924-10-01,1.0,0.999,140.730461,10.0,1924.0,NaN
1924-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1924-10-02,2.0,0.999,140.730461,10.0,1924.0,NaN
1924-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1924-10-03,3.0,0.999,140.730461,10.0,1924.0,NaN
1924-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1924-10-04,4.0,0.999,140.730461,10.0,1924.0,NaN
1924-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1924-10-05,5.0,0.999,140.730461,10.0,1924.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-16,3537.879850,3494.776038,3451.672227,3408.568415,3365.464603,3322.360791,3279.256980,3236.153168,3193.049356,3149.945544,...,2374.076933,2330.973121,2287.869310,2020-05-16,16.0,0.056,3580.983662,5.0,2020.0,-43.103812
2020-05-17,3518.244184,3477.384468,3436.524752,3395.665035,3354.805319,3313.945603,3273.085887,3232.226171,3191.366454,3150.506738,...,2415.031846,2374.172130,2333.312413,2020-05-17,17.0,0.057,3559.103900,5.0,2020.0,-40.859716
2020-05-18,3445.977305,3401.443894,3356.910483,3312.377072,3267.843662,3223.310251,3178.776840,3134.243429,3089.710019,3045.176608,...,2243.575214,2199.041803,2154.508393,2020-05-18,18.0,0.059,3490.510716,5.0,2020.0,-44.533411
2020-05-19,3338.752489,3286.981137,3235.209785,3183.438433,3131.667081,3079.895729,3028.124377,2976.353024,2924.581672,2872.810320,...,1940.925983,1889.154631,1837.383278,2020-05-19,19.0,0.063,3390.523841,5.0,2020.0,-51.771352
2020-05-20,3265.621738,3212.376156,3159.130575,3105.884994,3052.639412,2999.393831,2946.148250,2892.902668,2839.657087,2786.411506,...,1827.991041,1774.745460,1721.499878,2020-05-20,20.0,0.070,3318.867319,5.0,2020.0,-53.245581

In [244]:
d4=m4[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d4['DateVal']=ngo['DateVal']
d4['Flow']=ngo['Flow']
e4=d4[np.arange(1,31,1)].divide(d4['Flow'],axis=0)
rmse['linear_5p']=(e4[np.arange(1,31,1)]**2).mean()**0.5
rmse

    linear_1p  linear_2p  linear_3p  linear_5p
1    0.023976   0.021171   0.020668   0.020614
2    0.044498   0.036939   0.035689   0.035461
3    0.065037   0.052783   0.050750   0.050444
4    0.086221   0.069626   0.066777   0.066418
5    0.108376   0.087413   0.083847   0.083429
6    0.131265   0.105904   0.101670   0.101272
7    0.154444   0.125070   0.120185   0.119803
8    0.178278   0.144933   0.139479   0.138963
9    0.202742   0.165360   0.159331   0.158603
10   0.227450   0.186351   0.179549   0.178695
11   0.252715   0.207908   0.200205   0.199248
12   0.278694   0.229801   0.221338   0.220201
13   0.304864   0.251850   0.242735   0.241413
14   0.330815   0.274119   0.264271   0.262773
15   0.357113   0.296831   0.286178   0.284367
16   0.384040   0.319860   0.308394   0.306191
17   0.411163   0.343103   0.330688   0.328129
18   0.438281   0.366509   0.353071   0.350137
19   0.465769   0.390005   0.375590   0.372276
20   0.493336   0.413507   0.398120   0.394440
21   0.520723   0.437044   0.420695   0.416577
22   0.548348   0.460701   0.443378   0.438735
23   0.576086   0.484465   0.466063   0.460896
24   0.603778   0.508302   0.488719   0.483137
25   0.631772   0.532181   0.511426   0.505543
26   0.659745   0.556002   0.534290   0.528119
27   0.687682   0.579907   0.557415   0.550960
28   0.715689   0.604155   0.580865   0.574107
29   0.743827   0.628879   0.604740   0.597580
30   0.772767   0.654155   0.629076   0.621441

In [245]:
m5=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m5.index.name='DateVal'
m5['m']=m5['Flow'].rolling(5).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5],r,1)[0]))
m5['c']=m5['Flow'].rolling(5).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5],r,1)[1]))
m5[np.arange(1,31,1)]= m5.apply(lambda x: x['c']+(pd.Series(np.arange(6,36,1))*x['m']),axis=1)

In [246]:
d5=m5[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d5['DateVal']=ngo['DateVal']
d5['Flow']=ngo['Flow']
e5=d5[np.arange(1,31,1)].divide(d5['Flow'],axis=0)
rmse['ploy_d1_3p']=(e5[np.arange(1,31,1)]**2).mean()**0.5
rmse

    linear_1p  linear_2p  linear_3p  linear_5p  ploy_d1_3p
1    0.023976   0.021171   0.020668   0.020614    0.024127
2    0.044498   0.036939   0.035689   0.035461    0.038707
3    0.065037   0.052783   0.050750   0.050444    0.053923
4    0.086221   0.069626   0.066777   0.066418    0.070188
5    0.108376   0.087413   0.083847   0.083429    0.087430
6    0.131265   0.105904   0.101670   0.101272    0.105460
7    0.154444   0.125070   0.120185   0.119803    0.124207
8    0.178278   0.144933   0.139479   0.138963    0.143682
9    0.202742   0.165360   0.159331   0.158603    0.163755
10   0.227450   0.186351   0.179549   0.178695    0.184376
11   0.252715   0.207908   0.200205   0.199248    0.205406
12   0.278694   0.229801   0.221338   0.220201    0.226757
13   0.304864   0.251850   0.242735   0.241413    0.248381
14   0.330815   0.274119   0.264271   0.262773    0.270282
15   0.357113   0.296831   0.286178   0.284367    0.292538
16   0.384040   0.319860   0.308394   0.306191    0.315095
17   0.411163   0.343103   0.330688   0.328129    0.337841
18   0.438281   0.366509   0.353071   0.350137    0.360676
19   0.465769   0.390005   0.375590   0.372276    0.383592
20   0.493336   0.413507   0.398120   0.394440    0.406538
21   0.520723   0.437044   0.420695   0.416577    0.429526
22   0.548348   0.460701   0.443378   0.438735    0.452643
23   0.576086   0.484465   0.466063   0.460896    0.475839
24   0.603778   0.508302   0.488719   0.483137    0.499051
25   0.631772   0.532181   0.511426   0.505543    0.522258
26   0.659745   0.556002   0.534290   0.528119    0.545455
27   0.687682   0.579907   0.557415   0.550960    0.568899
28   0.715689   0.604155   0.580865   0.574107    0.592719
29   0.743827   0.628879   0.604740   0.597580    0.617019
30   0.772767   0.654155   0.629076   0.621441    0.641794

In [247]:
m6=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m6.index.name='DateVal'
m6['m']=m6['Flow'].rolling(7).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5,6,7],r,1)[0]))
m6['c']=m6['Flow'].rolling(7).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5,6,7],r,1)[1]))
m6[np.arange(1,31,1)]= m6.apply(lambda x: x['c']+(pd.Series(np.arange(8,38,1))*x['m']),axis=1)

In [248]:
d6=m6[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d6['DateVal']=ngo['DateVal']
d6['Flow']=ngo['Flow']
e6=d6[np.arange(1,31,1)].divide(d6['Flow'],axis=0)
rmse['poly_d1_5p']=(e6[np.arange(1,31,1)]**2).mean()**0.5
rmse

    linear_1p  linear_2p  linear_3p  linear_5p  ploy_d1_3p  poly_d1_5p
1    0.023976   0.021171   0.020668   0.020614    0.024127    0.026739
2    0.044498   0.036939   0.035689   0.035461    0.038707    0.040651
3    0.065037   0.052783   0.050750   0.050444    0.053923    0.055352
4    0.086221   0.069626   0.066777   0.066418    0.070188    0.071221
5    0.108376   0.087413   0.083847   0.083429    0.087430    0.088113
6    0.131265   0.105904   0.101670   0.101272    0.105460    0.105846
7    0.154444   0.125070   0.120185   0.119803    0.124207    0.124384
8    0.178278   0.144933   0.139479   0.138963    0.143682    0.143646
9    0.202742   0.165360   0.159331   0.158603    0.163755    0.163395
10   0.227450   0.186351   0.179549   0.178695    0.184376    0.183549
11   0.252715   0.207908   0.200205   0.199248    0.205406    0.204127
12   0.278694   0.229801   0.221338   0.220201    0.226757    0.225114
13   0.304864   0.251850   0.242735   0.241413    0.248381    0.246387
14   0.330815   0.274119   0.264271   0.262773    0.270282    0.267901
15   0.357113   0.296831   0.286178   0.284367    0.292538    0.289721
16   0.384040   0.319860   0.308394   0.306191    0.315095    0.311733
17   0.411163   0.343103   0.330688   0.328129    0.337841    0.333851
18   0.438281   0.366509   0.353071   0.350137    0.360676    0.356058
19   0.465769   0.390005   0.375590   0.372276    0.383592    0.378350
20   0.493336   0.413507   0.398120   0.394440    0.406538    0.400690
21   0.520723   0.437044   0.420695   0.416577    0.429526    0.423088
22   0.548348   0.460701   0.443378   0.438735    0.452643    0.445536
23   0.576086   0.484465   0.466063   0.460896    0.475839    0.467973
24   0.603778   0.508302   0.488719   0.483137    0.499051    0.490388
25   0.631772   0.532181   0.511426   0.505543    0.522258    0.512893
26   0.659745   0.556002   0.534290   0.528119    0.545455    0.535585
27   0.687682   0.579907   0.557415   0.550960    0.568899    0.558588
28   0.715689   0.604155   0.580865   0.574107    0.592719    0.581959
29   0.743827   0.628879   0.604740   0.597580    0.617019    0.605745
30   0.772767   0.654155   0.629076   0.621441    0.641794    0.629877

In [253]:
m7=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m7.index.name='DateVal'
m7['m']=m7['Flow'].rolling(5).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5],r,2)[0]))
m7['n']=m7['Flow'].rolling(5).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5],r,2)[1]))
m7['c']=m7['Flow'].rolling(5).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5],r,2)[2]))
m7[np.arange(1,31,1)]= m7.apply(lambda x: x['c']+(pd.Series(np.arange(6,36,1))**2*x['m'])+(pd.Series(np.arange(6,36,1))*x['n']),axis=1)

In [254]:
d7=m7[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d7['DateVal']=ngo['DateVal']
d7['Flow']=ngo['Flow']
e7=d7[np.arange(1,31,1)].divide(d7['Flow'],axis=0)
rmse['ploy_d2_3p']=(e7[np.arange(1,31,1)]**2).mean()**0.5
rmse

,linear_1p,linear_2p,linear_3p,linear_5p,ploy_d1_3p,poly_d1_5p,ploy_d2_3p,ploy_d2_5p
1,0.023976,0.021171,0.020668,0.020614,0.024127,0.026739,0.028729,0.571210
2,0.044498,0.036939,0.035689,0.035461,0.038707,0.040651,0.059420,0.643786
3,0.065037,0.052783,0.050750,0.050444,0.053923,0.055352,0.097427,0.717267
4,0.086221,0.069626,0.066777,0.066418,0.070188,0.071221,0.143737,0.791604
5,0.108376,0.087413,0.083847,0.083429,0.087430,0.088113,0.198496,0.866463
6,0.131265,0.105904,0.101670,0.101272,0.105460,0.105846,0.261240,0.941723
7,0.154444,0.125070,0.120185,0.119803,0.124207,0.124384,0.332072,1.017492
8,0.178278,0.144933,0.139479,0.138963,0.143682,0.143646,0.411262,1.093675
9,0.202742,0.165360,0.159331,0.158603,0.163755,0.163395,0.498517,1.170056
10,0.227450,0.186351,0.179549,0.178695,0.184376,0.183549,0.593984,1.246597
11,0.252715,0.207908,0.200205,0.199248,0.205406,0.204127,0.698320,1.323550
12,0.278694,0.229801,0.221338,0.220201,0.226757,0.225114,0.811158,1.400880
13,0.304864,0.251850,0.242735,0.241413,0.248381,0.246387,0.931671,1.478344
14,0.330815,0.274119,0.264271,0.262773,0.270282,0.267901,1.060076,1.555910
15,0.357113,0.296831,0.286178,0.284367,0.292538,0.289721,1.197173,1.633593
16,0.384040,0.319860,0.308394,0.306191,0.315095,0.311733,1.342757,1.711311
17,0.411163,0.343103,0.330688,0.328129,0.337841,0.333851,1.496508,1.789060
18,0.438281,0.366509,0.353071,0.350137,0.360676,0.356058,1.658805,1.866739
19,0.465769,0.390005,0.375590,0.372276,0.383592,0.378350,1.829582,1.944542
20,0.493336,0.413507,0.398120,0.394440,0.406538,0.400690,2.008383,2.022596
21,0.520723,0.437044,0.420695,0.416577,0.429526,0.423088,2.195333,2.100616
22,0.548348,0.460701,0.443378,0.438735,0.452643,0.445536,2.390652,2.178525
23,0.576086,0.484465,0.466063,0.460896,0.475839,0.467973,2.594209,2.256351
24,0.603778,0.508302,0.488719,0.483137,0.499051,0.490388,2.806272,2.333923
25,0.631772,0.532181,0.511426,0.505543,0.522258,0.512893,3.026925,2.411609
26,0.659745,0.556002,0.534290,0.528119,0.545455,0.535585,3.255557,2.489684
27,0.687682,0.579907,0.557415,0.550960,0.568899,0.558588,3.491849,2.567850
28,0.715689,0.604155,0.580865,0.574107,0.592719,0.581959,3.736041,2.646109
29,0.743827,0.628879,0.604740,0.597580,0.617019,0.605745,3.988674,2.724401
30,0.772767,0.654155,0.629076,0.621441,0.641794,0.629877,4.250109,2.802752

In [255]:
m8=pd.concat([pd.DataFrame(columns=np.arange(1,31,1)),ngo])
m8.index.name='DateVal'
m8['m']=m8['Flow'].rolling(7).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5,6,7],r,2)[0]))
m8['n']=m8['Flow'].rolling(7).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5,6,7],r,2)[1]))
m8['c']=m8['Flow'].rolling(7).apply(lambda r: pd.Series(np.polyfit([1,2,3,4,5,6,7],r,2)[2]))
m8[np.arange(1,31,1)]= m8.apply(lambda x: x['c']+((pd.Series(np.arange(8,38,1))**2)*x['m'])+(pd.Series(np.arange(8,38,1))*x['n']),axis=1)

In [256]:
d8=m8[np.arange(1,31,1)]-actual[np.arange(1,31,1)]
d8['DateVal']=ngo['DateVal']
d8['Flow']=ngo['Flow']
e8=d8[np.arange(1,31,1)].divide(d8['Flow'],axis=0)
rmse['ploy_d2_5p']=(e8[np.arange(1,31,1)]**2).mean()**0.5
rmse

,linear_1p,linear_2p,linear_3p,linear_5p,ploy_d1_3p,poly_d1_5p,ploy_d2_3p,ploy_d2_5p
1,0.023976,0.021171,0.020668,0.020614,0.024127,0.026739,0.028729,0.026976
2,0.044498,0.036939,0.035689,0.035461,0.038707,0.040651,0.059420,0.050219
3,0.065037,0.052783,0.050750,0.050444,0.053923,0.055352,0.097427,0.077538
4,0.086221,0.069626,0.066777,0.066418,0.070188,0.071221,0.143737,0.109465
5,0.108376,0.087413,0.083847,0.083429,0.087430,0.088113,0.198496,0.146147
6,0.131265,0.105904,0.101670,0.101272,0.105460,0.105846,0.261240,0.187301
7,0.154444,0.125070,0.120185,0.119803,0.124207,0.124384,0.332072,0.232891
8,0.178278,0.144933,0.139479,0.138963,0.143682,0.143646,0.411262,0.283231
9,0.202742,0.165360,0.159331,0.158603,0.163755,0.163395,0.498517,0.338450
10,0.227450,0.186351,0.179549,0.178695,0.184376,0.183549,0.593984,0.398579
11,0.252715,0.207908,0.200205,0.199248,0.205406,0.204127,0.698320,0.463438
12,0.278694,0.229801,0.221338,0.220201,0.226757,0.225114,0.811158,0.532841
13,0.304864,0.251850,0.242735,0.241413,0.248381,0.246387,0.931671,0.606725
14,0.330815,0.274119,0.264271,0.262773,0.270282,0.267901,1.060076,0.685175
15,0.357113,0.296831,0.286178,0.284367,0.292538,0.289721,1.197173,0.768586
16,0.384040,0.319860,0.308394,0.306191,0.315095,0.311733,1.342757,0.857084
17,0.411163,0.343103,0.330688,0.328129,0.337841,0.333851,1.496508,0.950377
18,0.438281,0.366509,0.353071,0.350137,0.360676,0.356058,1.658805,1.048394
19,0.465769,0.390005,0.375590,0.372276,0.383592,0.378350,1.829582,1.151137
20,0.493336,0.413507,0.398120,0.394440,0.406538,0.400690,2.008383,1.258368
21,0.520723,0.437044,0.420695,0.416577,0.429526,0.423088,2.195333,1.370217
22,0.548348,0.460701,0.443378,0.438735,0.452643,0.445536,2.390652,1.487039
23,0.576086,0.484465,0.466063,0.460896,0.475839,0.467973,2.594209,1.608781
24,0.603778,0.508302,0.488719,0.483137,0.499051,0.490388,2.806272,1.735335
25,0.631772,0.532181,0.511426,0.505543,0.522258,0.512893,3.026925,1.866252
26,0.659745,0.556002,0.534290,0.528119,0.545455,0.535585,3.255557,2.001220
27,0.687682,0.579907,0.557415,0.550960,0.568899,0.558588,3.491849,2.140605
28,0.715689,0.604155,0.580865,0.574107,0.592719,0.581959,3.736041,2.284680
29,0.743827,0.628879,0.604740,0.597580,0.617019,0.605745,3.988674,2.433817
30,0.772767,0.654155,0.629076,0.621441,0.641794,0.629877,4.250109,2.588331

In [258]:
rmse.to_csv(output_data + 'forecast_model_errors.csv')

In [259]:
m1.to_csv(output_data + 'm1.csv')
m2.to_csv(output_data + 'm2.csv')
m3.to_csv(output_data + 'm3.csv')
m4.to_csv(output_data + 'm4.csv')
m5.to_csv(output_data + 'm5.csv')
m6.to_csv(output_data + 'm6.csv')
m7.to_csv(output_data + 'm7.csv')
m8.to_csv(output_data + 'm8.csv')

In [266]:
def split_and_save(model,prefix):
    model['Year']=model.index.year
    model['Month']=model.index.month
    model['Day']=model.index.day
    model['WaterYear']=model.apply((lambda x: (x['Year'] if x['Month']>=10 else x['Year']-1)),axis=1)
    years=model['WaterYear'].unique().tolist()

    for year in years:
        days=model.loc[model.WaterYear==year]
        days.to_csv(output_data + prefix + '_' + str(year) + '.csv',float_format='%.0f')

In [268]:
split_and_save(m1,'linear_1p')
split_and_save(m2,'linear_2p')
split_and_save(m3,'linear_3p')
split_and_save(m4,'linear_5p')
split_and_save(m5,'ploy_d1_3p')
split_and_save(m6,'ploy_d1_5p')
split_and_save(m7,'ploy_d2_3p')
split_and_save(m8,'ploy_d2_5p')