In [1]:
import numpy as np
import pandas as pd
import math
import statsmodels.tsa.stattools as statools

In [2]:
ngonye_data='./output_data/2020/'

In [90]:
ngo = pd.read_csv(ngonye_data + 'ngonye_daily.csv')
ngo['Date']=pd.to_datetime(ngo['Date'],format="%Y-%m-%d")#"%d/%m/%Y")
ngo=ngo.set_index(pd.DatetimeIndex(ngo['Date']))
ngo['DateVal']=ngo.index

In [91]:
ngo = ngo[['Flow','Exceedance','DateVal','Year','Month','Day']]
ngo.tail(3)

                   Flow  Exceedance    DateVal  Year  Month  Day
Date
2020-05-18  3490.510716       0.059 2020-05-18  2020      5   18
2020-05-19  3390.523841       0.063 2020-05-19  2020      5   19
2020-05-20  3318.867319       0.070 2020-05-20  2020      5   20

In [92]:
m1=pd.concat([ngo,pd.DataFrame(columns=np.arange(1,31,1))])
actual=pd.concat([ngo['DateVal'],pd.DataFrame(columns=np.arange(1,31,1))],axis=1)

In [93]:
actual

,DateVal,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
1924-10-01,1924-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924-10-02,1924-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924-10-03,1924-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924-10-04,1924-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924-10-05,1924-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-16,2020-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-17,2020-05-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-18,2020-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-19,2020-05-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-20,2020-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
ngo['Flow'][ngo['DateVal'][32]-pd.DateOffset(days=30):ngo['DateVal'][32]]

Date
1924-10-03    140.730461
1924-10-04    140.730461
1924-10-05    140.730461
1924-10-06    140.730461
1924-10-07    140.730461
1924-10-08    140.730461
1924-10-09    140.730461
1924-10-10    140.730461
1924-10-11    140.730461
1924-10-12    140.730461
1924-10-13    140.730461
1924-10-14    140.730461
1924-10-15    140.730461
1924-10-16    140.730461
1924-10-17    140.730461
1924-10-18    140.730461
1924-10-19    140.730461
1924-10-20    140.730461
1924-10-21    141.984374
1924-10-22    144.610705
1924-10-23    144.610705
1924-10-24    147.267478
1924-10-25    136.426365
1924-10-26    136.426365
1924-10-27    136.426365
1924-10-28    136.426365
1924-10-29    136.426365
1924-10-30    136.426365
1924-10-31    136.426365
1924-11-01    138.899082
1924-11-02    141.399969
Name: Flow, dtype: float64

In [111]:
actual[np.arange(1,31,1)]= actual.apply(
    lambda x: ngo['Flow'][x['DateVal']-pd.DateOffset(days=30):x['DateVal']]
,axis=1)

ValueError: Columns must be same length as key

In [82]:
m1['m']=m1['Flow']-m1['Flow'].shift(1)

In [83]:
m1[np.arange(1,31,1)]= m1.apply(lambda x: x['Flow']+(pd.Series(np.arange(1,31,1))*x['m']),axis=1)
m1

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,DateVal,Day,Exceedance,Flow,Month,Year,m
1924-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1924-10-01,1.0,0.999,140.730461,10.0,1924.0,NaN
1924-10-02,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-02,2.0,0.999,140.730461,10.0,1924.0,0.000000
1924-10-03,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-03,3.0,0.999,140.730461,10.0,1924.0,0.000000
1924-10-04,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-04,4.0,0.999,140.730461,10.0,1924.0,0.000000
1924-10-05,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,140.730461,...,140.730461,140.730461,140.730461,1924-10-05,5.0,0.999,140.730461,10.0,1924.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-16,3563.049229,3545.114797,3527.180365,3509.245932,3491.311500,3473.377067,3455.442635,3437.508202,3419.573770,3401.639338,...,3078.819554,3060.885122,3042.950689,2020-05-16,16.0,0.056,3580.983662,5.0,2020.0,-17.934432
2020-05-17,3537.224139,3515.344378,3493.464616,3471.584855,3449.705093,3427.825332,3405.945571,3384.065809,3362.186048,3340.306286,...,2946.470581,2924.590820,2902.711058,2020-05-17,17.0,0.057,3559.103900,5.0,2020.0,-21.879761
2020-05-18,3421.917531,3353.324346,3284.731161,3216.137976,3147.544791,3078.951606,3010.358421,2941.765237,2873.172052,2804.578867,...,1569.901539,1501.308354,1432.715169,2020-05-18,18.0,0.059,3490.510716,5.0,2020.0,-68.593185
2020-05-19,3290.536967,3190.550093,3090.563218,2990.576344,2890.589470,2790.602595,2690.615721,2590.628847,2490.641972,2390.655098,...,590.891360,490.904486,390.917612,2020-05-19,19.0,0.063,3390.523841,5.0,2020.0,-99.986874
2020-05-20,3247.210797,3175.554275,3103.897753,3032.241231,2960.584709,2888.928187,2817.271665,2745.615143,2673.958621,2602.302099,...,1312.484703,1240.828181,1169.171659,2020-05-20,20.0,0.070,3318.867319,5.0,2020.0,-71.656522

In [63]:
d1[np.arange(1,31,1)]= m1.apply(
    lambda x:

In [69]:
d1[np.arange(1,31,1)]= m1.apply(
    lambda x: pd.Series(np.arange(1,31,1)).apply(
        lambda y: x[y]-m1['Flow'].shift(-y).loc[x['DateVal']] 
    )  
    ,axis=1)
d1

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,Day,Exceedance,Flow,Month,Year,m,DateVal
1924-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.999,140.730461,10.0,1924.0,NaN,1924-10-01
1924-10-02,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,4.304096,4.304096,1.831379,2.0,0.999,140.730461,10.0,1924.0,0.000000,1924-10-02
1924-10-03,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,4.304096,1.831379,-0.669507,3.0,0.999,140.730461,10.0,1924.0,0.000000,1924-10-03
1924-10-04,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,1.831379,-0.669507,-3.198444,4.0,0.999,140.730461,10.0,1924.0,0.000000,1924-10-04
1924-10-05,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.669507,-3.198444,1.887647,5.0,0.999,140.730461,10.0,1924.0,0.000000,1924-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-16,3.945329,54.604081,136.656523,190.378613,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,0.056,3580.983662,5.0,2020.0,-17.934432,2020-05-16
2020-05-17,46.713423,124.820536,174.597297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17.0,0.057,3559.103900,5.0,2020.0,-21.879761,2020-05-17
2020-05-18,31.393689,34.457027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18.0,0.059,3490.510716,5.0,2020.0,-68.593185,2020-05-18
2020-05-19,-28.330352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19.0,0.063,3390.523841,5.0,2020.0,-99.986874,2020-05-19
2020-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20.0,0.070,3318.867319,5.0,2020.0,-71.656522,2020-05-20

In [70]:
d1.tail(20)

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,Day,Exceedance,Flow,Month,Year,m,DateVal
2020-05-01,-18.126457,-36.294936,8.108426,-21.082484,-39.502565,-0.448885,146.262258,183.081168,185.140439,192.488603,...,NaN,NaN,NaN,1.0,0.032,4350.024783,5.0,2020.0,-35.529159,2020-05-01
2020-05-02,-0.042022,62.487796,51.423343,51.129719,108.309855,273.147455,328.092821,348.278549,373.753170,405.671753,...,NaN,NaN,NaN,2.0,0.032,4332.622081,5.0,2020.0,-17.402702,2020-05-02
2020-05-03,62.571841,51.549410,51.297808,108.519967,273.399590,328.386978,348.614728,374.131372,406.091977,450.068214,...,NaN,NaN,NaN,3.0,0.033,4315.261401,5.0,2020.0,-17.360680,2020-05-03
2020-05-04,-73.594271,-136.417714,-141.767397,-39.459615,-47.044067,-89.388158,-126.443356,-157.054591,-175.650195,-197.920837,...,NaN,NaN,NaN,4.0,0.034,4235.328881,5.0,2020.0,-79.932521,2020-05-04
2020-05-05,10.770828,79.015417,254.917471,320.927290,352.177470,388.716544,431.699580,486.698248,538.021877,566.690043,...,NaN,NaN,NaN,5.0,0.034,4228.990631,5.0,2020.0,-6.338249,2020-05-05
2020-05-06,57.473761,222.604986,277.843977,298.323329,324.091574,356.303782,400.531621,441.084422,458.981760,459.807115,...,NaN,NaN,NaN,6.0,0.035,4211.881553,5.0,2020.0,-17.109078,2020-05-06
2020-05-07,107.657464,105.422694,68.428285,36.722770,11.461217,-1.784705,-18.705665,-58.282087,-114.930493,-167.633570,...,NaN,NaN,NaN,7.0,0.037,4137.298715,5.0,2020.0,-74.582838,2020-05-07
2020-05-08,-109.892235,-254.544107,-393.907087,-526.826105,-647.729490,-772.307915,-919.541801,-1083.847672,-1244.208213,-1357.855331,...,NaN,NaN,NaN,8.0,0.041,3955.058412,5.0,2020.0,-182.240303,2020-05-08
2020-05-09,-34.759638,-64.230383,-87.257167,-98.268318,-112.954507,-150.296160,-204.709796,-255.178102,-258.932986,-231.294180,...,NaN,NaN,NaN,9.0,0.043,3882.710344,5.0,2020.0,-72.348068,2020-05-09
2020-05-10,5.288893,17.021748,40.770235,60.843684,58.261670,38.607672,22.899004,53.903759,116.302203,150.370295,...,NaN,NaN,NaN,10.0,0.044,3845.121914,5.0,2020.0,-37.588430,2020-05-10
2020-05-11,6.443962,24.903556,39.688111,31.817204,6.874313,-14.123248,11.592613,68.702164,97.481363,NaN,...,NaN,NaN,NaN,11.0,0.046,3802.244591,5.0,2020.0,-42.877323,2020-05-11
2020-05-12,12.015632,20.356226,6.041357,-25.345496,-52.787020,-33.515120,17.150470,39.485706,NaN,NaN,...,NaN,NaN,NaN,12.0,0.049,3752.923306,5.0,2020.0,-49.321285,2020-05-12
2020-05-13,-3.675038,-30.005540,-73.408024,-112.865180,-105.608912,-66.958955,-56.639350,NaN,NaN,NaN,...,NaN,NaN,NaN,13.0,0.051,3691.586389,5.0,2020.0,-61.336917,2020-05-13
2020-05-14,-22.655463,-62.382909,-98.165027,-87.233720,-44.908725,-30.914081,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.0,0.054,3633.924510,5.0,2020.0,-57.661879,2020-05-14
2020-05-15,-17.071983,-30.198638,3.388131,68.368590,105.018696,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.0,0.056,3598.918094,5.0,2020.0,-35.006416,2020-05-15
2020-05-16,3.945329,54.604081,136.656523,190.378613,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.0,0.056,3580.983662,5.0,2020.0,-17.934432,2020-05-16
2020-05-17,46.713423,124.820536,174.597297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17.0,0.057,3559.103900,5.0,2020.0,-21.879761,2020-05-17
2020-05-18,31.393689,34.457027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18.0,0.059,3490.510716,5.0,2020.0,-68.593185,2020-05-18
2020-05-19,-28.330352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19.0,0.063,3390.523841,5.0,2020.0,-99.986874,2020-05-19
2020-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20.0,0.070,3318.867319,5.0,2020.0,-71.656522,2020-05-20

In [71]:
m1.tail(20)

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,Day,Exceedance,Flow,Month,Year,m,DateVal
2020-05-01,4314.495624,4278.966465,4243.437306,4207.908147,4172.378989,4136.849830,4101.320671,4065.791512,4030.262353,3994.733194,...,3355.208332,3319.679173,3284.150014,1.0,0.032,4350.024783,5.0,2020.0,-35.529159,2020-05-01
2020-05-02,4315.219379,4297.816677,4280.413974,4263.011272,4245.608570,4228.205867,4210.803165,4193.400463,4175.997761,4158.595058,...,3845.346417,3827.943715,3810.541013,2.0,0.032,4332.622081,5.0,2020.0,-17.402702,2020-05-02
2020-05-03,4297.900721,4280.540042,4263.179362,4245.818682,4228.458002,4211.097322,4193.736642,4176.375962,4159.015283,4141.654603,...,3829.162365,3811.801686,3794.441006,3.0,0.033,4315.261401,5.0,2020.0,-17.360680,2020-05-03
2020-05-04,4155.396360,4075.463839,3995.531318,3915.598798,3835.666277,3755.733756,3675.801235,3595.868715,3515.936194,3436.003673,...,1997.218300,1917.285779,1837.353258,4.0,0.034,4235.328881,5.0,2020.0,-79.932521,2020-05-04
2020-05-05,4222.652382,4216.314132,4209.975883,4203.637634,4197.299384,4190.961135,4184.622886,4178.284636,4171.946387,4165.608138,...,4051.519649,4045.181400,4038.843151,5.0,0.034,4228.990631,5.0,2020.0,-6.338249,2020-05-05
2020-05-06,4194.772476,4177.663398,4160.554320,4143.445243,4126.336165,4109.227088,4092.118010,4075.008932,4057.899855,4040.790777,...,3732.827379,3715.718301,3698.609224,6.0,0.035,4211.881553,5.0,2020.0,-17.109078,2020-05-06
2020-05-07,4062.715876,3988.133038,3913.550199,3838.967361,3764.384522,3689.801684,3615.218845,3540.636007,3466.053168,3391.470330,...,2048.979237,1974.396398,1899.813560,7.0,0.037,4137.298715,5.0,2020.0,-74.582838,2020-05-07
2020-05-08,3772.818109,3590.577807,3408.337504,3226.097201,3043.856898,2861.616596,2679.376293,2497.135990,2314.895687,2132.655384,...,-1147.670066,-1329.910368,-1512.150671,8.0,0.041,3955.058412,5.0,2020.0,-182.240303,2020-05-08
2020-05-09,3810.362276,3738.014207,3665.666139,3593.318071,3520.970003,3448.621935,3376.273866,3303.925798,3231.577730,3159.229662,...,1856.964433,1784.616365,1712.268297,9.0,0.043,3882.710344,5.0,2020.0,-72.348068,2020-05-09
2020-05-10,3807.533484,3769.945054,3732.356624,3694.768194,3657.179764,3619.591334,3582.002904,3544.414474,3506.826044,3469.237614,...,2792.645875,2755.057445,2717.469015,10.0,0.044,3845.121914,5.0,2020.0,-37.588430,2020-05-10
2020-05-11,3759.367268,3716.489945,3673.612621,3630.735298,3587.857975,3544.980652,3502.103329,3459.226006,3416.348682,3373.471359,...,2601.679542,2558.802219,2515.924896,11.0,0.046,3802.244591,5.0,2020.0,-42.877323,2020-05-11
2020-05-12,3703.602021,3654.280736,3604.959451,3555.638166,3506.316881,3456.995596,3407.674311,3358.353026,3309.031741,3259.710456,...,2371.927325,2322.606040,2273.284755,12.0,0.049,3752.923306,5.0,2020.0,-49.321285,2020-05-12
2020-05-13,3630.249472,3568.912555,3507.575638,3446.238721,3384.901803,3323.564886,3262.227969,3200.891052,3139.554135,3078.217218,...,1974.152711,1912.815794,1851.478877,13.0,0.051,3691.586389,5.0,2020.0,-61.336917,2020-05-13
2020-05-14,3576.262631,3518.600753,3460.938874,3403.276995,3345.615116,3287.953238,3230.291359,3172.629480,3114.967602,3057.305723,...,2019.391906,1961.730027,1904.068148,14.0,0.054,3633.924510,5.0,2020.0,-57.661879,2020-05-14
2020-05-15,3563.911678,3528.905262,3493.898847,3458.892431,3423.886015,3388.879599,3353.873183,3318.866767,3283.860351,3248.853936,...,2618.738450,2583.732034,2548.725618,15.0,0.056,3598.918094,5.0,2020.0,-35.006416,2020-05-15
2020-05-16,3563.049229,3545.114797,3527.180365,3509.245932,3491.311500,3473.377067,3455.442635,3437.508202,3419.573770,3401.639338,...,3078.819554,3060.885122,3042.950689,16.0,0.056,3580.983662,5.0,2020.0,-17.934432,2020-05-16
2020-05-17,3537.224139,3515.344378,3493.464616,3471.584855,3449.705093,3427.825332,3405.945571,3384.065809,3362.186048,3340.306286,...,2946.470581,2924.590820,2902.711058,17.0,0.057,3559.103900,5.0,2020.0,-21.879761,2020-05-17
2020-05-18,3421.917531,3353.324346,3284.731161,3216.137976,3147.544791,3078.951606,3010.358421,2941.765237,2873.172052,2804.578867,...,1569.901539,1501.308354,1432.715169,18.0,0.059,3490.510716,5.0,2020.0,-68.593185,2020-05-18
2020-05-19,3290.536967,3190.550093,3090.563218,2990.576344,2890.589470,2790.602595,2690.615721,2590.628847,2490.641972,2390.655098,...,590.891360,490.904486,390.917612,19.0,0.063,3390.523841,5.0,2020.0,-99.986874,2020-05-19
2020-05-20,3247.210797,3175.554275,3103.897753,3032.241231,2960.584709,2888.928187,2817.271665,2745.615143,2673.958621,2602.302099,...,1312.484703,1240.828181,1169.171659,20.0,0.070,3318.867319,5.0,2020.0,-71.656522,2020-05-20

In [75]:
(m1.shift(-3))['Flow']

1924-10-01     140.730461
1924-10-02     140.730461
1924-10-03     140.730461
1924-10-04     140.730461
1924-10-05     140.730461
                 ...
2020-05-16    3390.523841
2020-05-17    3318.867319
2020-05-18            NaN
2020-05-19            NaN
2020-05-20            NaN
Name: Flow, Length: 34931, dtype: float64