In [9]:
import numpy as np
import pandas as pd

In [10]:
output_data='./output_data/CC/'

In [11]:
cc_case='WC2'

In [12]:
sims=pd.read_csv(output_data+'climate_change_sims_' + cc_case + '.csv').set_index('SimNo')
sims.head(3)

        StartDate  Mean_2023_2040  Mean_2023_2052
SimNo
1      1933-10-01      935.332432     1006.073676
2      1934-10-01      977.133796     1010.648809
3      1935-10-01      984.615994     1015.168524

In [13]:
for sim in sims.itertuples():
    yearly=pd.read_csv(output_data+'ngonye_daily_' + cc_case + '_' + str(sim.Index) + '_base_pe_yearly.csv')
    sims.at[sim.Index,'Energy_mean']=yearly['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_median']=yearly['Energy'].median()/1000
    sims.at[sim.Index,'Energy_mean_2023_2040']=yearly.loc[(yearly['WaterYear']>=2023) & (yearly['WaterYear']<=2040)]['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_mean_2023_2052']=yearly.loc[(yearly['WaterYear']>=2023) & (yearly['WaterYear']<=2052)]['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_mean_2025_2042']=yearly.loc[(yearly['WaterYear']>=2025) & (yearly['WaterYear']<=2042)]['Energy'].mean()/1000
    sims.at[sim.Index,'Energy_mean_2025_2049']=yearly.loc[(yearly['WaterYear']>=2025) & (yearly['WaterYear']<=2049)]['Energy'].mean()/1000

In [14]:
yearly.loc[(yearly['WaterYear']>=2023) & (yearly['WaterYear']<=2040)]['Energy'].mean()/1000

787.2909938662548

In [15]:
sims.head(5)

,StartDate,Mean_2023_2040,Mean_2023_2052,Energy_mean,Energy_median,Energy_mean_2023_2040,Energy_mean_2023_2052,Energy_mean_2025_2042,Energy_mean_2025_2049
SimNo,,,,,,,,,
1,1933-10-01,935.332432,1006.073676,771.357674,772.724675,758.626049,771.150767,751.126943,766.233487
2,1934-10-01,977.133796,1010.648809,778.074797,776.221196,753.586291,775.703528,756.825688,772.058562
3,1935-10-01,984.615994,1015.168524,780.890501,777.873859,755.771421,778.490453,761.123319,778.010034
4,1936-10-01,1007.841821,1021.473712,782.699923,782.303210,761.612061,782.592463,766.124294,778.857541
5,1937-10-01,1044.625840,1022.378299,776.385032,779.958973,763.718849,777.200201,772.164209,784.210763

In [16]:
sims.to_csv(output_data+'climate_change_sims_' + cc_case + '.csv')